/*----------------------
# Quote
----------------------*/

.wp-block-quote {

	margin-bottom: 2em;

	&.is-style-nm-none {
		padding: 0 0 0 2.8em;
		box-shadow: none;

		&::before {
			top: -0.5em;
			left: 0;
		}
	}

	&.is-style-large {
		padding: 1.5em 1.5em 1.5em 5em;

		&::before {
			font-size: 2.4em;
		}

		p {
			font-size: 1.4em;
			font-style: normal;
			line-height: inherit;
		}

		cite {
			font-size: 1em;
			text-align: inherit;
		}
	}
}
