/**
 * Site Title
 */

.wp-block-site-title {
	padding-bottom: 0;
	font-size: 3em;

	&::before {
		content: none;
	}

	a {
		color: var(--color-accent);
		text-decoration: none;
		text-shadow: -3px -3px 3px var(--color-nm-light), 3px 3px 3px var(--color-nm-dark);
	}

	&.is-style-nm-none a {
		text-shadow: none;

		&::before {
			content: none;
		}
	}
}

[data-align="wide"],
[data-align="full"] {

	> h1.wp-block-site-title,
	> h2.wp-block-site-title,
	> h3.wp-block-site-title,
	> h4.wp-block-site-title,
	> h5.wp-block-site-title,
	> h6.wp-block-site-title {
		margin-top: 1.5em;
		margin-bottom: 1em;
	}
}
