/**
 * Social Links
 */

.wp-block-social-links {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 1.4em;

	&.wp-block-social-links {
		padding-left: 0;
	}

	&.aligncenter {
		margin-bottom: 1.4em;
	}

	&.alignleft,
	&.alignright {
		margin-bottom: 1em;
	}

	.wp-social-link.wp-social-link.wp-social-link {
		margin: 0.3em 0.5em 0.3em 0;
	}

	&.is-style-logos-only .wp-social-link.wp-social-link.wp-social-link {
		margin: 0;
	}

	&.is-style-nm {

		.wp-social-link {

			width: 2em;
			height: 2em;
			padding: 3px;
			background-clip: content-box;
			border-radius: 50%;
			box-shadow: $nm_shadow;
			transition: box-shadow $base_transition_duration ease-in-out;

			&:hover {
				box-shadow: $nm_shadow_light;
				transform: none;
			}

			&:focus,
			&:visited {
				box-shadow: $nm_shadow;
			}

			&:active {
				box-shadow: $nm_shadow_acitve;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				padding: 0;
			}
		}
	}
}
