/*----------------------
# Social links
----------------------*/

.wp-block-social-links {

	flex-wrap: wrap;

	.wp-social-link {
		margin: 0 0.5em 0.5em 0;
	}

	&.is-style-nm {
		font-size: 1.3em;

		> li {
			margin: 0 10px 10px 0;
		}

		.wp-social-link {

			width: 2.2em;
			height: 2.2em;
			padding: 3px;
			background-clip: content-box;
			border-radius: 50%;
			box-shadow: $nm_shadow;
			transition: all 0.1s;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				padding: 0;
			}
		}
	}
}

// .block-editor-block-list__block[data-type="core/social-link"]:not([contenteditable]):focus::after {
// 	content: none;
// }
