/**
 * Fallback Styles ( WordPress )
 */

// Version 5.7
body.branch-5-7 .entry-content {

	// File
	.wp-block-file__textlink {
		color: var(--color-text-link);
		text-decoration: underline;
	}

	// Button
	.wp-block-buttons > .wp-block-button {
		margin-right: 0;
	}

	.wp-block-button__link {
		font-size: inherit;
		border-radius: 9999px;
	}

	// Gallery
	.wp-block-gallery {

		.blocks-gallery-image,
		.blocks-gallery-item {
			align-self: flex-start;
		}

		&.is-cropped {

			.blocks-gallery-image,
			.blocks-gallery-item {
				align-self: inherit;
			}
		}
	}

	// Latest Posts
	.wp-block-latest-posts {
		padding-left: 0;
	}
}
