/**
 * Fallback Styles ( WordPress )
 */

// Version 5.7
body.branch-5-7 .editor-styles-wrapper {
	font-size: $base_font_size_pc;
	line-height: $base_line_height;

	// Override inline normalize CSS
	color: var(--color-text-main);

	.block-editor-writing-flow {
		font-family: $base_font_falily;
	}

	// List
	ol,
	ul {

		&.wp-block {
			padding-left: 1.5em;
		}

		&.has-background {
			padding: 1em 1em 1em 2.5em;
		}
	}

	// File
	.wp-block-file__textlink {
		color: var(--color-text-link);
		text-decoration: underline;
	}

	// Button
	.wp-block-buttons > .wp-block-button {
		margin-right: 0;
	}

	.wp-block-button__link {
		font-size: inherit;
		border-radius: 9999px;
	}

	// Gallery
	.wp-block-gallery {

		.blocks-gallery-image,
		.blocks-gallery-item {
			align-self: flex-start;
		}

		&.is-cropped {

			.blocks-gallery-image,
			.blocks-gallery-item {
				align-self: inherit;
			}
		}
	}

	// More, Page Break
	.wp-block-more,
	.wp-block-nextpage {
		position: relative;
		clear: both;
	}

	// Separator
	.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
		max-width: $editor_block_width;
	}

	// Latest Posts
	.wp-block-latest-posts.wp-block-latest-posts__list {
		padding-left: 0;
	}

	// RSS
	.wp-block-rss .wp-block-rss {
		margin-left: 0;

		&:not(.is-grid) {
			margin-bottom: 0;
		}
	}

	// Social Links
	ul.wp-block-social-links {
		padding-left: 0;

		.wp-block-social-link {
			align-self: flex-start;
		}
	}

	// Search
	.wp-block[data-align="center"] .wp-block-search__inside-wrapper {
		margin: auto;
	}
}
