// Media query
@mixin mq( $breakpoint ) {

	@media #{ map-get( $breakpoints, $breakpoint ) } {
		@content;
	}
}

// Clearfix
@mixin clearfix() {

	&::after {
		display: table;
		clear: both;
		content: "";
	}
}

// Neomorphic styles
@mixin nm-common() {
	text-decoration: none !important;
	border: none;
	outline: none !important;
	transition: box-shadow $base_transition_duration ease-in-out, opacity $base_transition_duration ease-in-out;

	&:not(.has-background) {
		background-color: var(--color-bg) !important;
	}

	&:focus,
	&:hover,
	&:active {
		text-decoration: none;
		outline: none;
	}
}

@mixin nm() {

	@include nm-common;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
}

@mixin nm-light() {

	@include nm-common;
	box-shadow: 2px 2px 5px var(--color-nm-dark), -2px -2px 5px var(--color-nm-light);
}

@mixin nm-active() {

	@include nm-common;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
}

@mixin nm-reverse() {

	@include nm-common;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
}

@mixin nm-link() {

	@include nm-common;
	color: inherit;
	text-decoration: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	cursor: pointer;

	&:focus {
		box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	}

	&:hover {
		box-shadow: 2px 2px 5px var(--color-nm-dark), -2px -2px 5px var(--color-nm-light);

		a {
			text-decoration: none;
		}
	}
}

@mixin nm-button() {

	@include nm-common;
	color: inherit;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	cursor: pointer;

	&:hover {
		box-shadow: 2px 2px 5px var(--color-nm-dark), -2px -2px 5px var(--color-nm-light);
	}

	&:active {
		box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	}
}

@mixin nm-button-editor() {

	@include nm-common;
	display: inline-block;
	color: inherit;
	font-weight: bold;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
}

@mixin nm-border( $position:bottom ) {
	position: relative;

	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		border-radius: 1000px;
		box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
		content: "";
	}
}

@mixin nm-input() {

	@include nm-common;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light) !important;

	&:focus {
		box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light) !important;
	}
}

@mixin nm-input-editor() {

	@include nm-common;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);

	&:focus,
	&:active,
	&:disabled {
		color: inherit;
		box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light) !important;
	}
}

@mixin nm-text() {
	text-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
}

@mixin nm-text-border() {
	text-shadow: 1px 1px 0 var(--color-text-border-color);
}

@mixin nm-image() {

	@include nm-reverse;
	padding: 5px;
	border-radius: $base_border_radius;
}

@mixin nm-image-link() {

	@include mq(lg-min) {

		&:hover::before {
			opacity: 1;
		}
		position: relative;
		display: block;

		&::before {
			position: absolute;
			top: 5px;
			left: 5px;
			z-index: 1;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			background: rgba(0, 0, 0, 0.3);
			border-radius: $base_border_radius / 2;
			opacity: 0;
			transition: opacity $base_transition_duration ease-in-out;
			content: "";
		}
	}
}
