// Media query
@mixin mq( $breakpoint ) {

	@media #{ map-get( $breakpoints, $breakpoint ) } {
		@content;
	}
}

// Neomorphic styles
@mixin nm() {
	background: transparent;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	transition: all $base_transition_duration ease-in-out;
}

@mixin nm-light() {
	background: transparent;
	box-shadow: 2px 2px 5px var(--color-nm-dark), -2px -2px 5px var(--color-nm-light);
	transition: all $base_transition_duration ease-in-out;
}

@mixin nm-reverse() {
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
}

@mixin nm-hover() {
	box-shadow: 2px 2px 5px var(--color-nm-dark), -2px -2px 5px var(--color-nm-light);
}

@mixin nm-link() {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	background: transparent;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	cursor: pointer;
	transition: all $base_transition_duration ease-in-out;

	&:focus {
		outline: none;
		box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	}

	&:hover {

		@include nm-hover;
		text-decoration: none;

		a {
			text-decoration: none;
		}
	}
}

@mixin nm-button() {

	@include nm-link;
	font-weight: bold;
	text-align: center;

	&:active {
		box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	}
}

@mixin nm-button-editor() {
	display: inline-block;
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	background: transparent;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
}

@mixin nm-border( $position:bottom ) {
	position: relative;

	&::before {
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		border-radius: 1000px;
		box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
		content: "";

		@if $position == bottom {
			bottom: -1.5px;
		} @else if $position == top {
			top: -1.5px;
		}
	}
}

@mixin nm-input() {
	background: transparent;
	border: none;
	outline: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	transition: all $base_transition_duration ease-in-out;

	&:focus {
		box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	}
}

@mixin nm-text() {
	text-shadow: 1px 1px 0 var(--color-text-border-color);
}
