/*--------------------------------------------------------------
# WordPress media player styles
--------------------------------------------------------------*/

@import "variable";
@import "mixin";

.mejs-container {

	&.mejs-audio {

		@include nm();
		border-radius: 1000px;

		.mejs-mediaelement {
			top: 3px;
			left: 3px;
			width: calc(100% - 5px);
			height: calc(100% - 5px);
			background: var(--color-nm-dark);
			border-radius: 1000px;
		}

		.mejs-controls {
			background: transparent;

			.mejs-time-rail .mejs-time-current {
				background: var(--color-accent);
			}
		}
	}

	&.mejs-video {

		@include nm();
		overflow: hidden;
		border-radius: $base_border_radius;


		.mejs-mediaelement {
			top: 3px;
			left: 3px;
			width: calc(100% - 5px);
			height: calc(100% - 6px);
			overflow: hidden;
			border-radius: 10px;
		}

		.mejs-controls {
			background: transparent;

			.mejs-time-rail .mejs-time-current {
				background: var(--color-accent);
			}
		}
	}
}
