/*----------------------
# Buttons
----------------------*/

.wp-block-buttons {
	margin-bottom: 1em;

	.wp-block-button {
		margin-right: 20px;
		margin-bottom: 20px;
		color: inherit;

		&:last-child {
			margin-right: 0;
		}

		&__link {
			position: relative;
			padding: 0.5em 1.5em;
			font-weight: bold;
			font-size: 1.1em;
			text-decoration: none;
			border-radius: 1000px;

			&:not(.has-background) {
				background-color: transparent;
			}

			&::before {

				@include nm;
				position: absolute;
				top: -3px;
				right: -3px;
				bottom: -3px;
				left: -3px;
				border-radius: inherit;
				content: "";
			}

			&:hover {
				text-decoration: none;

				&::before {

					@include nm-light;
				}
			}

			&:active::before {

				@include nm-active;
			}
		}
	}
}
