/**
 * Embeds
 */

iframe {

	@include nm-reverse;
	display: block;
	max-width: 100%;
	padding: 5px;
	border-radius: $base_border_radius;
}

.wp-block-embed {

	img {
		width: 100%;
	}

	blockquote {
		border-radius: 0;
		box-shadow: none;

		&::before {
			content: none;
		}
	}

	&.alignleft,
	&.alignright {
		max-width: 400px;
	}

	&.aligncenter,
	&.alignwide,
	&.alignfull {

		.wp-block-embed__wrapper > * {
			margin-right: auto;
			margin-left: auto;
		}
	}

	&.is-style-nm-none iframe {
		padding: 0;
		border-radius: 0;
		box-shadow: none;
	}

	&-twitter {

		.twitter-tweet {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}

	&-flickr:not(.is-style-nm-none) img {

		@include nm-media;
	}

	&-crowdsignal {

		.pds-box {
			max-width: 100%;
			border: none !important;
		}

		&:not(.is-style-nm-none) .pds-box {

			@include nm-reverse;
			padding: 1em !important;
			border-radius: 8px;
		}

		&.alignleft,
		&.alignright {

			.pds-box {
				width: 100% !important;
			}
		}

		&.aligncenter .pds-box {
			margin-right: auto;
			margin-left: auto;
		}

		&.alignwide,
		&.alignfull {

			.pds-box {
				width: 100% !important;
			}
		}
	}

	&-issuu,
	&-mixcloud {

		&.alignleft,
		&.alignright {
			width: auto;
			max-width: 100%;

			.wp-block-embed__wrapper {
				min-width: auto;
			}
		}
	}

	&-issuu .issuuembed {
		max-width: 100%;
	}

	&-reddit {

		.embedly-card-hug {
			margin: 0 !important;
		}

		iframe {
			background: #e1e2e6;
		}

		&.aligncenter,
		&.alignwide,
		&.alignfull {

			.embedly-card-hug {
				margin: 0 auto !important;
			}
		}

		&.alignwide,
		&.alignfull {

			.embedly-card-hug {
				width: 100%;
				max-width: 100% !important;
			}

			iframe {
				width: 100%;
			}
		}
	}

	&-slideshare {

		iframe {
			border: none !important;
		}

		&.alignleft,
		&.alignright {
			width: auto;
		}

		&.aligncenter,
		&.alignwide,
		&.alignfull {

			.wp-block-embed__wrapper > div {
				text-align: center;
			}
		}
	}

	&-tiktok {

		.tiktok-embed {
			margin: 0;
			padding: 0;
		}
	}

	&-tumblr {

		iframe {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			padding: 5px !important;
		}

		&.aligncenter,
		&.alignwide,
		&.alignfull {

			iframe {
				margin-right: auto !important;
				margin-left: auto !important;
			}
		}
	}

	&-speaker-deck:not(.is-style-nm-none) iframe {
		padding: 5px !important;
	}

	&-amazon {

		iframe {
			margin-right: auto;
			margin-left: auto;
		}

		figcaption {
			text-align: center;
		}
	}
}
