/**
 * Embeds
 */

.wp-block-embed {

	&.wp-block-embed figcaption {
		color: var(--color-text-main);
	}

	iframe {
		display: block;
		max-width: 100%;
	}
}

[data-align="left"],
[data-align="right"] {

	> .wp-block-embed {
		width: 100%;
		max-width: 400px;
	}
}

[data-align="center"],
[data-align="wide"],
[data-align="full"] {

	> .wp-block-embed {

		.wp-block-embed__wrapper > * {
			margin-right: auto;
			margin-left: auto;
		}

		figcaption {
			text-align: center;
		}
	}
}
