/*----------------------
# Media & Text
----------------------*/

.wp-block-media-text {
	margin-bottom: 2em;

	.wp-block-media-text__media video {
		border-radius: $base_border_radius / 2;
	}

	&:not(.is-image-fill) .wp-block-media-text__media {

		a {

			@include nm-media-link;
		}

		> img {

			@include nm-media;
		}
	}

	.wp-block-media-text__content {
		padding: 0 0 0 2em;

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	&.has-media-on-the-right .wp-block-media-text__content {
		padding: 0 2em 0 0;
	}

	&.has-background {
		padding: 1.5em;
	}

	&.is-style-nm {

		@include nm;
		padding: 1.5em;
		border-radius: $base_border_radius;

		&.has-background {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 5px var(--color-bg) solid;
				border-radius: $base_border_radius;
				content: "";
				pointer-events: none;
			}
		}
	}

	&.is-image-fill figure.wp-block-media-text__media {

		@include nm-media;
		min-height: 200px;
		background-clip: content-box;

		a {

			@include nm-media-link;
			display: block;
			height: 100%;
			padding: 0;
			background: none !important;
			box-shadow: none;

			&::before {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		img {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			overflow: hidden;
			border: 0;
			clip: rect(0, 0, 0, 0);
		}
	}

	@include mq(md-max) {

		&.is-stacked-on-mobile {
			grid-template-columns: 100% !important;

			> .wp-block-media-text__media {
				grid-row: 1;
				grid-column: 1;

				> img,
				> video {
					max-width: 100%;
				}
			}

			.wp-block-media-text__content {
				grid-row: 2;
				grid-column: 1;
				padding: 2em 0 0;
			}

			&.has-media-on-the-right {

				.wp-block-media-text__content {
					grid-row: 2;
				}

				.wp-block-media-text__media {
					grid-row: 1;
				}
			}
		}
	}
}
