/*----------------------
# Verse
----------------------*/

.wp-block-verse {
	position: relative;
	margin-bottom: 2em;
	padding: 2em;
	font-family: inherit;
	border-radius: $base_border_radius;

	@include nm-reverse();
}
