/**
 * Tag Cloud
 */

.wp-block-tag-cloud {

	a {

		@include nm-button;
		display: inline-block;
		padding: 0.3em 1em;
		margin: 0 0.2em 1em;
		font-size: 1em !important;
		color: var(--color-accent);
		border-radius: 1000px;

		.tag-link-count {
			font-weight: normal;
			color: var(--color-text-main);
			opacity: $text_color_thin;
		}
	}

	&.alignwide,
	&.alignfull {

		a {
			width: auto;
		}
	}
}
