/**
 * Categories
 */

.wp-block-categories-list,
.wp-block-categories-dropdown {

	&.is-style-nm,
	&.is-style-nm-reverse {
		border-radius: $base_border_radius;
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}
}

.wp-block-categories-list {

	ul {
		margin-bottom: 0;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em 1em 1em 2.5em;
	}
}

.wp-block-categories-dropdown {

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
	}
}
