/**
 * Categories
 */

.wp-block-categories {

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&__list {
		margin: 0;

		.wp-block-categories__list {
			padding: 0;
		}
	}

	&__dropdown {

		@include nm-input;
		padding: 0.7em 3em 0.7em 1.4em;
		font-size: inherit;
		font-family: $base_font_falily;
		line-height: inherit;
		text-shadow: none;
		background: url($icon_chevron_down_solid) no-repeat right 20px center/1em;
		border-radius: 1000px;

		&:hover {
			color: inherit;
		}

		option {
			background: #fff;
		}
	}
}
