/*--------------------------------------------------------------
# Block editor styles
--------------------------------------------------------------*/

@import "variable";
@import "mixin";

/*------------------------------------------
## Basic Style
------------------------------------------*/

.editor-styles-wrapper {
	background: var(--color-bg);
}

.editor-post-title__block {

	@include nm-border;

	&::after {
		bottom: 12px;
		left: 14px;
		width: calc(100% - 28px);
		height: 3px;
	}

	.editor-post-title__input {

		@include nm-text;
		color: var(--color-text-main);
		font-size: 2.2em;
		font-family: $base_font_falily;
		line-height: 1.4;
		letter-spacing: $base_letter_spacing;

		&:focus {
			color: inherit;
		}
	}
}

.wp-block {
	max-width: 800px;
	color: var(--color-text-main);
	font-size: $base_font_size_pc;
	font-family: $base_font_falily;
	line-height: $base_line_height;
	letter-spacing: $base_letter_spacing;
	word-break: break-word;

	[data-block] {
		margin-top: 56px;
		margin-bottom: 56px;
	}

	&[data-align="left"],
	&[data-align="right"] {

		[data-block] {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	a {
		color: var(--color-text-link);
	}
}

/*------------------------------------------
## Common Block
------------------------------------------*/

/*----------------------
### Paragraph
----------------------*/

.wp-block[data-type="core/paragraph"] p {

	&.has-drop-cap:not(:focus)::first-letter {
		float: left;
		margin: 0 0.1em 0 0;
		padding: 0;
		font-size: 5em;
		line-height: 1;
	}
}

/*----------------------
### Heading
----------------------*/

.wp-block[data-type="core/heading"] {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		@include nm-text;
		margin-top: 2em;
		margin-bottom: 1em;
	}

	h1,
	h2 {

		@include nm-border;
		padding-bottom: 0.2em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1em;
	}
}

/*----------------------
### Image
----------------------*/

// .wp-block-image{
// 	figcaption{
// 		margin-top: 1em;
// 		margin-bottom: 0;
// 		font-size: 0.8em;
// 		text-align: center;
// 	}
// }

/*----------------------
### Gallery
----------------------*/

/*----------------------
### List
----------------------*/

.wp-block[data-type="core/list"] {

	ul,
	ol {
		margin-left: 0;
		padding-left: 1.5em;

		li {
			margin: 0.5em 0;
			padding-left: 0;
		}

		&.is-style-checkbox li::before {
			top: 0 !important;
			left: -1.5em !important;
			height: auto !important;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			background-color: transparent !important;
			transform: none !important;
			content: "\f058" !important;
			mask-image: none !important;
		}
	}
}

/*----------------------
### Quote
----------------------*/

// .wp-block-quote{

// }

/*----------------------
### Audio
----------------------*/

.wp-block-audio {

	audio {

		@include nm-reverse;
		display: block;
		padding: 5px;
		border-radius: 1000px;
	}

	figcaption {
		margin-top: 1em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		text-align: center;
		opacity: $text_color_thin;
	}
}

/*----------------------
### Cover
----------------------*/

/*----------------------
### File
----------------------*/

/*----------------------
### Video
----------------------*/

// .wp-block-video,
// .wp-block-embed {
// 	figcaption{
// 		margin-top: 1em;
// 		margin-bottom: 0;
// 		font-size: 0.8em;
// 		text-align: center;
// 		color: inherit;
// 		opacity: $text_color_thin;
// 	}
// }

/*------------------------------------------
## Formatting Block
------------------------------------------*/

/*----------------------
### Code
----------------------*/

/*----------------------
### Freeform
----------------------*/

/*----------------------
### HTML
----------------------*/

/*----------------------
### Preformatted
----------------------*/

/*----------------------
### Pullquote
----------------------*/

/*----------------------
### Table
----------------------*/

/*----------------------
### Verse
----------------------*/

/*------------------------------------------
## Column Block
------------------------------------------*/

/*----------------------
### Columns
----------------------*/

/*----------------------
### Button
----------------------*/

.wp-block-button {
	color: inherit;

	&__link {
		padding: 0.7em 1.4em;
		font-size: inherit;
		background-color: transparent;
		border-radius: 0;
	}

	.block-editor-rich-text__editable {

		@include nm();

		&:focus {
			outline: none;

			@include nm();
		}
	}

	:not(.has-text-color):not(.is-style-outline) [data-rich-text-placeholder]::after {
		color: inherit;
		opacity: $base_placeholder_opacity;
	}
}

/*----------------------
### Group
----------------------*/

/*----------------------
### Media-Text
----------------------*/

/*----------------------
### More
----------------------*/

/*----------------------
### Nextpage
----------------------*/

/*----------------------
### Separator
----------------------*/

/*----------------------
### Spacer
----------------------*/

/*------------------------------------------
## Widget Block
------------------------------------------*/

/*----------------------
### Shortcode
----------------------*/

/*----------------------
### Archives
----------------------*/

/*----------------------
### Calendar
----------------------*/

/*----------------------
### Categories
----------------------*/

/*----------------------
### Latest-Comments
----------------------*/

/*----------------------
### Latest-Posts
----------------------*/

/*----------------------
### RSS
----------------------*/

.block-editor .wp-block-rss {
	padding-left: 0;
	list-style-type: none;

	> li {

		@include nm;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	&.is-grid {
		max-width: none;
		margin-right: -8px;
		margin-left: -8px;

		> li {
			margin: 0 8px 16px;
		}
	}

	&:not(.is-grid) > li {
		margin: 1em 0;
	}

	&__item-title a {
		display: inline-block;
		text-decoration: none;

		&::before {
			display: inline-block;
			margin-right: 0.5em;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			content: "\f09e";
		}
	}

	&__item-publish-date {
		display: block;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}

	&__item-excerpt {
		font-size: 0.9em;
	}
}

/*----------------------
### Search
----------------------*/

.wp-block-search {

	.wp-block-search__label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		word-wrap: normal !important;
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
	}

	.wp-block-search__input {

		@include nm-input;
		padding: 0.7em 3em 0.7em 1.4em;
		color: inherit;
		font-size: inherit;
		font-family: $base_font_falily;
		border-radius: 1000px;

		&::placeholder {
			color: inherit;
			opacity: $base_placeholder_opacity;
		}
	}

	.wp-block-search__button {
		position: absolute;
		top: 50%;
		right: 0.5em;
		width: 2em;
		height: 2em;
		margin: 0;
		padding: 0;
		color: var(--color-accent);
		font-size: inherit;
		transform: translateY(-50%);
		visibility: hidden;
		transition: opacity $base_transition_duration ease-in-out;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			transform: translate(-50%, -50%);
			visibility: visible;
			content: "\f002";
		}
	}
}

/*----------------------
### Tag-cloud
----------------------*/

.wp-block-tag-cloud a {

	@include nm-button;
	display: inline-block;
	margin: 0 0.2em 1em;
	padding: 0.3em 1em;
	color: var(--color-accent);
	font-size: 1em !important;
	border-radius: 1000px;
	pointer-events: none;

	.tag-link-count {
		color: var(--color-text-main);
		opacity: $text_color_thin;
	}
}

/*------------------------------------------
## Embed Block
------------------------------------------*/

/*------------------------------------------
## Block Styles
------------------------------------------*/

/*----------------------
### Font Size
----------------------*/

.has-small-font-size {
	font-size: 0.8em;
}

.has-medium-font-size {
	font-size: 1.2em;
}

.has-large-font-size {
	font-size: 1.6em;
}

.has-huge-font-size {
	font-size: 2em;
}
