/**
 * Video
 */

.wp-block-video {

	&.alignleft,
	&.alignright {
		max-width: 500px;
	}

	&.alignwide video {

		@include mq(md-max) {
			padding-right: 0;
			padding-left: 0;
			border-radius: 0;
		}
	}

	&.alignfull video {
		padding-right: 0;
		padding-left: 0;
		border-radius: 0;
	}

	video {

		@include nm-media;
		display: block;
	}
}
