/**
 * Video
 */

.wp-block-video {
	margin-bottom: 2em;

	&.alignleft,
	&.alignright {
		max-width: 500px;
	}

	video {

		@include nm-media;
		display: block;
	}

	&.aligncenter video {
		margin-right: auto;
		margin-left: auto;
	}

	figcaption {
		margin-bottom: 0;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	@include mq(md-max) {

		&.alignleft,
		&.alignright {

			video {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	&.alignwide,
	&.alignfull {

		figcaption {
			text-align: center;
		}
	}
}
