/**
 * Video
 */

.wp-block-video {

	video {

		@include nm-media;
		display: block;
	}

	&.wp-block-video > figcaption {
		color: var(--color-text-main);
	}
}

[data-align="center"] > .wp-block-video video {
	margin-right: auto;
	margin-left: auto;
}

[data-align="left"],
[data-align="right"] {

	> .wp-block-video {
		width: 100%;
		max-width: 500px;
	}
}

[data-align="full"] > .wp-block-video video {
	border-radius: 0;
}
