/**
 * Classic
 */

.wp-block-freeform {

	&.is-selected .wp-block-freeform.block-library-rich-text__tinymce {
		padding: 1em;
	}

	.wp-block-freeform.block-library-rich-text__tinymce {
		line-height: $base_line_height;

		> * {
			margin: 0 0 2em;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		// Heading
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 1.5em;
			margin-bottom: 1em;
		}

		// Link
		a {
			color: var(--color-text-link);
		}

		// List
		ul,
		ol {
			padding-left: 1.5em;
		}

		// Code
		code {
			padding: 0.1em 0.3em;
			color: inherit;
			font-size: 0.9em;
			font-family: $base_code_font_family;
			background: var(--color-nm-dark);
			border-radius: 4px;
		}

		// Quote
		blockquote {

			@include nm-reverse;
			padding: 1.5em 1.5em 1.5em 3.5em;
		}

		// More
		.wp-more-tag {
			display: block;
			width: 100%;
			margin: 2em 0;
			padding: 15px 0;
			background-color: var(--color-nm-light);
			border: 2px solid var(--color-accent);
		}

		// Image
		.wp-caption {
			max-width: 100%;
		}

		p,
		p > a,
		.wp-caption-dt,
		.wp-caption-dt > a {

			> [class^="wp-image-"],
			> [class*=" wp-image-"] {

				@include nm-media;
			}
		}

		.wp-caption-text {
			margin-top: 0.5em;
			font-size: 0.8em;
			opacity: $text_color_thin;
		}

		// Gallery
		.gallery {
			line-height: inherit;

			img {

				@include nm-media;
				width: 100%;
				vertical-align: top;
			}
		}

		.gallery-item {
			margin-bottom: 20px;
		}

		.gallery-caption {
			margin-top: 0.5em;
			margin-bottom: 0;
			color: inherit;
			font-size: 0.8em;
			text-align: center;
			opacity: $text_color_thin;
		}
	}
}

[data-type="core/freeform"].is-selected::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-color: var(--color-text-main);
	content: "";
	pointer-events: none;
}
