/**
 * Page Break
 */

.wp-block-nextpage {
	clear: both;

	&::before {
		border-top: 3px var(--color-accent) solid;
	}

	> span {
		min-height: 30px;
		font-family: inherit;
		line-height: normal;
		color: var(--color-accent);
		background: var(--color-nm-light);
	}
}
