/*----------------------
# Cover
----------------------*/

.wp-block-cover {
	min-height: 200px;
	overflow: hidden;

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 5px;
		background-clip: content-box;
		border-radius: $base_border_radius;

		&.has-background-dim:not(.has-background-gradient)::before {
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border-radius: $base_border_radius / 2;
		}
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	.wp-block-cover__inner-container {
		width: 100%;
		padding: 2em 3em;

		@include mq(md-max) {
			padding-right: 1.5em;
			padding-left: 1.5em;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-shadow: none;
		}

		h1,
		h2,
		h3 {
			padding-bottom: 0;

			&::before {
				content: none;
			}
		}
	}

	&.aligncenter,
	&.alignleft,
	&.alignright {
		max-width: 300px;

		@include mq(md-max) {
			max-width: 100%;
		}
	}
}
