/**
 * Cover
 */

.wp-block-cover {
	min-height: 200px;
	padding: 0;
	overflow: hidden;

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 5px;
		background-clip: content-box;
		border-radius: $base_border_radius;

		&.has-background-dim:not(.has-background-gradient)::before {
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border-radius: math.div($base_border_radius, 2);
		}

		.wp-block-cover__video-background,
		.wp-block-cover__image-background {
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			border-radius: math.div($base_border_radius, 2);
		}

		&.alignwide {

			@include mq(md-max) {
				padding-right: 0;
				padding-left: 0;
				border-radius: 0;

				&.has-background-dim:not(.has-background-gradient)::before {
					right: 0;
					left: 0;
					border-radius: 0;
				}

				.wp-block-cover__video-background,
				.wp-block-cover__image-background {
					right: 0;
					left: 0;
					width: 100%;
				}
			}
		}

		&.alignfull {
			padding-right: 0;
			padding-left: 0;
			border-radius: 0;

			&.has-background-dim:not(.has-background-gradient)::before {
				right: 0;
				left: 0;
				border-radius: 0;
			}

			.wp-block-cover__video-background,
			.wp-block-cover__image-background {
				right: 0;
				left: 0;
				width: 100%;
			}
		}
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	.wp-block-cover__inner-container {
		position: relative;
		width: 100%;
		padding: 2em 3em;
		text-align: initial;

		@include mq(md-max) {
			padding-right: 1.5em;
			padding-left: 1.5em;
		}

		> * {

			&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
				margin-top: 0;
				margin-bottom: 2em;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.alignwide,
	&.alignfull {

		.wp-block-cover__inner-container > * {
			max-width: calc(#{$container_width} - #{$container_padding * 2});
			margin-right: auto;
			margin-left: auto;
		}
	}
}
