
/*----------------------
# Cover
----------------------*/


.wp-block-cover {
	min-height: 200px;
	overflow: hidden;

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 5px;
		background-clip: content-box;
		border-radius: $base_border_radius;

		&.has-background-dim:not(.has-background-gradient)::before {
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border-radius: $base_border_radius / 2;
		}
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	.wp-block-cover__inner-container {
		padding: 2em 3em;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0;
			text-shadow: none;
		}

		h1,
		h2,
		h3 {
			padding-bottom: 0;

			&::before {
				content: none;
			}
		}
	}
}
