/**
 * Cover
 */

.wp-block-cover {
	min-height: 200px;
	overflow: hidden;

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 5px;
		background-clip: content-box;
		border-radius: $base_border_radius;

		&.has-background-dim:not(.has-background-gradient)::before {
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border-radius: math.div($base_border_radius, 2);
		}

		.wp-block-cover__video-background,
		.wp-block-cover__image-background {
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			border-radius: math.div($base_border_radius, 2);
		}
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	.wp-block-cover__inner-container {
		padding: 2em 3em;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}
