/*--------------------------------------------------------------
# Attachment file area
--------------------------------------------------------------*/

.c-attachment {

	&__image {
		text-align: center;
	}

	figcaption {
		margin: 2em 0 0;

		p {
			margin: 0;
		}
	}
}
