/**
 * Comment
 */

.c-comment {

	@include nm;
	padding: 1em;
	margin-top: 5em;
	border-radius: 10px;

	&__title {

		@include nm-border;
		@include nm-text-border;
		position: relative;
		padding-bottom: 0.5em;
		margin: 0;
		font-size: 1.4em;
	}

	&__list {
		padding: 0;
		margin: 0 0 2em;
		list-style: none;

		.comment-body {

			@include nm-border;
			padding: 1em 0;

			+ .comment-respond {

				@include nm-border;
				padding-bottom: 2em;
				margin-top: 2em;
			}
		}

		.children {
			padding: 0 0 0 2em;
			margin: 0;
			list-style: none;
		}

		.comment-meta {
			margin-bottom: 1em;
		}

		.bypostauthor .comment-meta {
			padding: 1em;
			background-color: var(--color-nm-light);
			border-radius: $base_border_radius;
		}

		.comment-author {
			position: relative;
			display: flex;
			margin-bottom: 15px;

			.avatar {

				@include nm;
				position: relative;
				top: -6px;
				width: 40px;
				height: 40px;
				margin-right: 1em;
				border-radius: 50%;
			}

			.fn {
				font-weight: normal;

				a {
					color: inherit;
				}
			}
		}

		.comment-metadata {
			font-size: 0.8em;

			> a {
				color: inherit;
			}

			time {

				&::before {
					margin-right: 0.2em;
					font-family: "Font Awesome 5 Free";
					font-weight: 400;
					content: "\f017";
				}
			}

			.edit-link {
				margin-left: 1em;
			}
		}

		.comment-content {

			> * {
				max-width: 100%;
				margin: 0 0 1em;
			}

			> :last-child {
				margin-bottom: 0 !important;
			}

			a {
				text-decoration: underline;

				@include mq(lg-min) {

					&:hover {
						text-decoration: none;
					}
				}
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {

				@include nm-text-border;
				margin-top: 1.5em;
				margin-bottom: 1em;
				line-height: 1.4;
			}

			h1 {
				font-size: 2em;
			}

			h2 {
				font-size: 1.8em;
			}

			h3 {
				font-size: 1.6em;
			}

			h4 {
				font-size: 1.4em;
			}

			h5 {
				font-size: 1.2em;
			}

			h6 {
				font-size: 1em;
			}

			h1,
			h2,
			h3 {

				@include nm-border;
				padding-bottom: 0.3em;
			}

			ul,
			ol {
				padding-left: 1.5em;

				li {
					margin: 0.2em 0;
				}
			}

			ul {
				list-style-type: disc;
			}

			code {
				padding: 0.1em 0.3em;
				font-family: $base_code_font_family;
				font-size: 0.9em;
				color: inherit;
				background: var(--color-nm-dark);
				border-radius: 4px;
			}

			q {

				@include nm-reverse;
				position: relative;
				padding: 0.3em 0.5em;
				color: var(--color-text-main);
				border: none;
				border-radius: math.div($base_border_radius, 2);
			}

			blockquote {

				@include nm-reverse();
				position: relative;
				padding: 1em 1em 1em 3.5em;
				color: var(--color-text-main);
				border-radius: $base_border_radius;

				&::before {

					@include nm-text;
					position: absolute;
					top: 0.5em;
					left: 0.7em;
					font-family: "Font Awesome 5 Free";
					font-size: 1.6em;
					font-weight: 900;
					content: "\f10d";
				}

				p {
					margin: 0 0 1em;

					&:last-of-type {
						margin-bottom: 0;
					}
				}

				cite {
					display: block;
					margin-top: 1em;
					font-size: 0.8em;
					opacity: $text_color_thin;
				}
			}

			table {

				@include nm;
				width: auto;
				margin-bottom: 0.5em;
				border-collapse: separate;
				border-radius: $base_border_radius;

				th,
				td {
					padding: 1em;
					text-align: left;
					border-right: 1px solid var(--color-nm-dark);
					border-bottom: 1px solid var(--color-nm-dark);

					&:last-child {
						border-right: none;
					}
				}

				thead th {
					border-bottom-width: 2px;
				}

				tbody tr:last-child {

					th,
					td {
						border-bottom: none;
					}
				}

				tfoot td {
					border-top: 2px solid var(--color-nm-dark);
					border-bottom: none;
				}
			}

			dl {

				dt {
					font-weight: bold;
				}

				dd {
					margin: 0;

					&:not(:last-of-type) {
						margin-bottom: 1em;
					}
				}
			}

			hr {

				@include nm-border;
				padding: 10px 0;
				border: none;

				&::before {
					top: 50%;
					bottom: auto;
					margin-top: -2px;
				}
			}

			img {

				@include nm-media;
				margin: 0.5em 0;
			}
		}

		.reply {
			margin-top: 1em;

			a {

				@include nm-button;
				display: inline-block;
				padding: 0.3em 1.5em;
				color: var(--color-accent);
				border-radius: 1000px;
			}
		}
	}

	&__nav {

		@include nm-border;
		padding: 1em 0;

		.nav-links {

			@include clearfix;

			.nav-previous,
			.nav-next {
				position: relative;
				max-width: 40%;
				overflow: hidden;
				color: var(--color-text-link);
				text-overflow: ellipsis;
				white-space: nowrap;

				@include mq(md-max) {
					max-width: 100%;
					margin: 0.2em 0;
				}

				&::before {
					position: absolute;
					top: 0.05em;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
				}
			}

			.nav-previous {
				float: left;
				padding-left: 1.5em;

				&::before {
					left: 0;
					content: "\f100";
				}
			}

			.nav-next {
				float: right;
				padding-right: 1.5em;

				&::before {
					right: 0;
					content: "\f101";
				}
			}
		}
	}

	.comment-reply-title {

		@include nm-text-border;
		margin: 0 0 1em;
		font-size: 1.4em;

		#cancel-comment-reply-link {
			margin-left: 1em;
			font-size: 0.8em;
			font-weight: normal;
		}

		a {
			text-shadow: none;
		}
	}

	.comment-form {

		.comment-notes {
			margin: 0 0 1em;
		}

		.comment-form-comment {
			margin: 0 0 2em;

			label {
				display: block;
				margin-bottom: 0.5em;
				font-weight: bold;
			}
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			margin: 0 0 1em;

			label {
				display: block;
				margin-bottom: 0.5em;
				font-weight: bold;

				.required {
					font-weight: bold;
					color: var(--color-text-link);
				}
			}
		}

		.comment-form-cookies-consent {
			margin: 1em 0;
		}

		.form-submit [type="submit"] {

			@include nm-button;
			color: var(--color-accent);
		}
	}
}
