/*--------------------------------------------------------------
# Comment area
--------------------------------------------------------------*/

.c-comment {

	@include nm;
	margin-top: 5em;
	padding: 1.5em;
	border-radius: 10px;

	&__title {

		@include nm-border;
		@include nm-text-border;
		position: relative;
		margin: 0;
		padding-bottom: 0.5em;
		font-size: 1.4em;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		.comment-body {

			@include nm-border;
			padding: 1.5em 0;

			+ .comment-respond {

				@include nm-border;
				padding-bottom: 2em;
			}
		}

		.children {
			margin: 0;
			padding: 0 0 0 2em;
			list-style: none;
		}

		.comment-meta {
			margin-bottom: 1em;
		}

		.bypostauthor .comment-meta {
			padding: 1em;
			background-color: var(--color-nm-light);
			border-radius: $base_border_radius;
		}

		.comment-author {
			position: relative;
			display: flex;
			margin-bottom: 15px;

			.avatar {

				@include nm;
				position: relative;
				top: -6px;
				width: 40px;
				height: 40px;
				margin-right: 1em;
				border-radius: 50%;
			}

			.fn {
				font-weight: normal;

				a {
					color: inherit;
				}
			}
		}

		.comment-metadata {
			font-size: 0.8em;

			> a {
				color: inherit;
			}

			time {

				&::before {
					margin-right: 0.2em;
					font-weight: 400;
					font-family: "Font Awesome 5 Free";
					content: "\f017";
				}
			}

			.edit-link {
				margin-left: 1em;
			}
		}

		.comment-content {

			p {
				margin: 0;
			}

			img {

				@include nm-media;
			}
		}

		.reply {
			margin-top: 1em;

			a {

				@include nm-button;
				padding: 0.3em 1em;
				color: var(--color-accent);
				border-radius: 1000px;
			}
		}
	}

	&__nav {

		@include nm-border;
		padding: 1em 0;

		.nav-links {

			@include clearfix;

			.nav-previous,
			.nav-next {
				position: relative;
				max-width: 40%;
				overflow: hidden;
				color: var(--color-text-link);
				white-space: nowrap;
				text-overflow: ellipsis;

				@include mq(md-max) {
					max-width: 100%;
					margin: 0.2em 0;
				}

				&::before {
					position: absolute;
					top: 0.05em;
					font-weight: 900;
					font-family: "Font Awesome 5 Free";
				}
			}

			.nav-previous {
				float: left;
				padding-left: 1.5em;

				&::before {
					left: 0;
					content: "\f100";
				}
			}

			.nav-next {
				float: right;
				padding-right: 1.5em;

				&::before {
					right: 0;
					content: "\f101";
				}
			}
		}
	}

	.comment-respond {
		margin-top: 2em;
	}

	.comment-reply-title {

		@include nm-text-border;
		margin: 0 0 1em;
		font-size: 1.4em;

		#cancel-comment-reply-link {
			margin-left: 1em;
			font-weight: normal;
			font-size: 0.8em;
		}

		a {
			text-shadow: none;
		}
	}

	.comment-form {

		.comment-notes {
			margin: 0 0 1em;
		}

		.comment-form-comment {
			margin: 0 0 2em;

			label {
				display: block;
				margin-bottom: 0.5em;
				font-weight: bold;
			}
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			margin: 0 0 1em;

			label {
				display: block;
				margin-bottom: 0.5em;
				font-weight: bold;

				.required {
					color: var(--color-text-link);
					font-weight: bold;
				}
			}
		}

		.comment-form-cookies-consent {
			margin: 1em 0;
		}

		.form-submit [type="submit"] {

			@include nm-button;
			color: var(--color-accent);
		}
	}
}
