/**
 * Post
 */

.c-entry {

	&__header {

		@include nm-border;
		margin-bottom: 4em;
		padding-bottom: 1em;
	}

	&__title {

		@include nm-text-border;
		margin: 0;
		font-weight: bold;
		font-size: 2em;
		line-height: 1.4;
		word-wrap: break-word;

		@include mq(lg-min) {
			font-size: 2.2em;
		}

		i {
			margin-right: 0.5em;
			font-size: 0.7em;
		}
	}

	&__description {
		margin-top: 0.5em;
		font-size: 0.8em;

		p {
			margin: 0;
		}
	}

	&__thumbnail {
		margin-bottom: 4em;
		text-align: center;

		img {

			@include nm-media;
		}
	}

	&__edit {
		margin-top: 3em;
		text-align: center;
	}

	&__edit-link {

		@include nm-button;
		display: inline-block;
		padding: 0.7em 1.4em;
		color: var(--color-accent);
		font-size: 0.8em;
		border-radius: 1000px;
	}

	&__post-nav .nav-links {

		@include clearfix;
		margin-top: 4em;

		.nav-previous,
		.nav-next {
			position: relative;
			max-width: 40%;
			padding: 0.2em;
			overflow: hidden;
			color: var(--color-text-link);
			white-space: nowrap;
			text-overflow: ellipsis;

			@include mq(md-max) {
				max-width: 100%;
				margin: 0.2em 0;
			}

			&::before {
				position: absolute;
				top: 0.3em;
				font-weight: 900;
				font-family: "Font Awesome 5 Free";
			}
		}

		.nav-previous {
			float: left;
			margin-right: 1em;
			padding-left: 1.5em;

			&::before {
				left: 0;
				content: "\f100";
			}
		}

		.nav-next {
			float: right;
			margin-left: 1em;
			padding-right: 1.5em;

			&::before {
				right: 0;
				content: "\f101";
			}
		}
	}

	.c-tag {
		margin-top: 4em;
	}
}
