/*----------------------
# Gallery
----------------------*/

.wp-block-gallery {
	margin-bottom: 2em;

	.blocks-gallery-grid {
		width: 100%;
	}

	.blocks-gallery-image,
	.blocks-gallery-item {

		figure {

			> img {

				@include nm-media;
			}

			> a {

				@include nm-media-link;
				width: 100%;
			}
		}

		figcaption {
			bottom: 5px;
			left: 5px;
			width: calc(100% - 10px);
			max-height: calc(100% - 10px);
			padding: 0.5em;
			background: rgba(0, 0, 0, 0.6);
			border-radius: 0 0 $base_border_radius / 2 $base_border_radius / 2;
		}

		img {
			width: 100%;
			border-radius: $base_border_radius / 2;
		}
	}

	> figcaption {
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
	}
}
