/**
 * Gallery
 */

.wp-block-gallery {

	.blocks-gallery-grid {
		margin-bottom: -1em;
	}

	.blocks-gallery-image,
	.blocks-gallery-item {

		figcaption {
			bottom: 5px;
			left: 5px;
			width: calc(100% - 10px);
			max-height: calc(100% - 10px);
			padding: 0.5em;
			color: #fff;
			font-size: 0.8em;
			background: rgba(0, 0, 0, 0.6);
			border-radius: 0 0 math.div($base_border_radius, 2) math.div($base_border_radius, 2);
		}

		img {

			@include nm-media;
			width: 100%;
			border-radius: $base_border_radius;
		}
	}

	> figcaption {
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	&.is-style-nm-none {

		.blocks-gallery-image,
		.blocks-gallery-item {

			figcaption {
				bottom: 0;
				left: 0;
				width: 100%;
				max-height: 100%;
				border-radius: 0;
			}

			img {
				padding: 0 !important;
				border-radius: 0;
				box-shadow: none;
			}
		}
	}
}
