/*----------------------
# Gallery
----------------------*/

.wp-block-gallery {

	.blocks-gallery-grid.blocks-gallery-grid {
		margin: 0;
		padding: 0;
	}

	.blocks-gallery-image,
	.blocks-gallery-item {

		figcaption {
			bottom: 5px;
			left: 5px;
			width: calc(100% - 10px);
			max-height: calc(100% - 10px);
			padding: 0.5em;
			color: #fff;
			font-size: 0.8em;
			background: rgba(0, 0, 0, 0.6);
			border-radius: 0 0 $base_border_radius / 2 $base_border_radius / 2;
		}

		img {

			@include nm-media;
			width: 100%;
			border-radius: $base_border_radius;
		}
	}

	> figcaption {
		margin: 0;
	}
}
