/**
 * Group
 */

.wp-block-group {
	margin-bottom: 2em;
	padding: 0;

	&.is-style-nm,
	&.is-style-nm-reverse {
		border-radius: $base_border_radius;

		&.has-background {
			padding: 5px;
			background-clip: content-box;
		}
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&__inner-container {

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	&.is-style-nm,
	&.is-style-nm-reverse,
	&.has-background {

		.wp-block-group__inner-container {
			padding: 1.5em 1em;
		}
	}
}
