/**
 * Group
 */

.wp-block-group {
	position: relative;
	padding: 0;

	&.is-style-nm,
	&.is-style-nm-reverse,
	&.has-background {
		padding: 1em;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		border-radius: $base_border_radius;
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&__inner-container > * {

		max-width: calc(#{$container_width} - #{$container_padding * 2});
		margin-right: auto;
		margin-left: auto;

		&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
			margin-top: 0;
			margin-bottom: 2em;
		}

		&:first-child {
			margin-top: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

header.wp-block-group,
main.wp-block-group,
section.wp-block-group,
article.wp-block-group,
aside.wp-block-group,
footer.wp-block-group {

	> * {
		position: relative;
		z-index: 1;
		max-width: calc(#{$container_width} - #{$container_padding * 2});
		margin-right: auto;
		margin-left: auto;

		&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
			margin-top: 0;
			margin-bottom: 2em;
		}

		&:first-child {
			margin-top: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}
