/**
 * Group
 */

.wp-block-group {
	padding: 0;

	&.has-background {
		margin-bottom: 28px;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		border-radius: $base_border_radius;

		&.has-background {
			padding: 5px;
			background-clip: content-box;
		}
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse,
	&.has-background {

		.wp-block-group__inner-container {
			padding: 1em;
		}
	}

	.wp-block:first-child {
		margin-top: 0;
	}

	.wp-block:last-child {
		margin-bottom: 0;
	}
}
