/*------------------------------------------
# Common Style
------------------------------------------*/

.editor-styles-wrapper.edit-post-visual-editor {
	background: var(--color-bg);

	// Title
	.editor-post-title__block {

		@include nm-border;

		&::after {
			bottom: 12px;
			left: 14px;
			width: calc(100% - 28px);
			height: 3px;
		}

		.editor-post-title__input {

			@include nm-text-border;
			color: var(--color-text-main);
			font-weight: bold;
			font-size: 2.2em;
			font-family: $base_font_falily;
			line-height: 1.4;
			letter-spacing: $base_letter_spacing;

			&:focus {
				color: inherit;
			}
		}
	}

	// Block alignment
	.block-editor-block-list__layout .block-editor-block-list__block {

		&[data-align="left"] > .is-block-content {
			margin-right: 1.5em;
			margin-bottom: 1em;
		}

		&[data-align="right"] > .is-block-content {
			margin-bottom: 1em;
			margin-left: 1.5em;
		}
	}

	// Heading
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1.5em;
		margin-bottom: 1em;
		font-weight: bold;
		line-height: 1.4;

		@include nm-text-border;
	}

	h1,
	h2,
	h3 {

		@include nm-border;
		padding-bottom: 0.3em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1em;
	}

	// Paragraph
	p {
		margin: 0 0 2em;

		&.has-background {
			padding: 1.5em 1em;
		}

		&.has-drop-cap:not(:focus)::first-letter {
			float: left;
			margin: 0 0.1em 0 0;
			padding: 0;
			font-size: 4em;
			line-height: 1;
		}
	}

	// List
	ul:not(.is-grid):not(.blocks-gallery-grid):not(.wp-block-latest-posts),
	ol {
		margin-left: 0;
		padding-left: 1.5em;

		li {
			margin: 0.5em 0;
		}

		ul {
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 1em;

				&::before {
					position: absolute;
					left: 0;
					content: "-";
				}
			}
		}
	}

	// Code
	code {
		padding: 0.1em 0.3em;
		color: var(--color-text-main);
		font-family: $base_code_font_family;
		background: var(--color-nm-dark);
		border-radius: 4px;
	}

	// Quote
	blockquote {
		position: relative;
		padding: 2em 2em 2em 3.5em;
		color: var(--color-text-main);
		border: none;
		border-radius: $base_border_radius;

		@include nm-reverse;

		&::before {

			@include nm-text();
			position: absolute;
			top: 0.5em;
			left: 0.7em;
			font-weight: 900;
			font-size: 1.6em;
			font-family: "Font Awesome 5 Free";
			content: "\f10d";
		}

		p {
			margin: 0 0 1em;
		}
	}

	// Image
	img[class*="wp-image-"] {

		@include nm-media;
	}

	// Figure
	figcaption {
		margin-top: 0.5em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

// New Post Placeholder
.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	opacity: $base_placeholder_opacity;
}

// Block
.wp-block {
	max-width: 800px;
	color: var(--color-text-main);
	font-size: $base_font_size_pc;
	font-family: $base_font_falily;
	line-height: $base_line_height;
	letter-spacing: $base_letter_spacing;
	word-break: break-word;

	@media (max-width: 599px) {
		max-width: calc(100% - 28px);
	}

	.wp-block {
		color: inherit;
	}

	[data-block] {
		margin-top: 48px;
		margin-bottom: 48px;
	}

	&[data-align="left"],
	&[data-align="right"] {

		[data-block] {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[data-align="wide"] {
		max-width: 1000px;
	}

	&[data-align="full"] {
		max-width: none;
	}

	&:not(.editor-post-title__block) a {
		color: var(--color-text-link);
	}
}
