/*----------------------
# Image
----------------------*/

[data-type="core/image"] {

	.wp-block-image {

		&:not(.is-style-nm-none) img {

			@include nm-media;
		}

		figcaption {
			display: block;
			margin-top: 0.5em;
			margin-bottom: 0;
			color: inherit;
			font-size: 0.8em;
			text-align: inherit;
			opacity: $text_color_thin;
		}

		&.is-style-rounded img {
			border-radius: 50%;
		}
	}

	&[data-align="left"],
	&[data-align="right"] {

		figcaption {
			text-align: center;
		}
	}
}
