/*--------------------------------------------------------------
# Front-end block styles
--------------------------------------------------------------*/

/*------------------------------------------
## Common/Tag Style
------------------------------------------*/

.entry-content {

	> * {
		max-width: 100%;
		margin: 0 0 2em;
	}

	> :last-child {
		margin-bottom: 0 !important;
	}

	// Text Alignment
	.has-text-align-left {
		text-align: left;
	}

	.has-text-align-right {
		text-align: right;
	}

	.has-text-align-center {
		text-align: center;
	}

	// Alignment
	.alignleft {
		float: left;
		margin-right: 1.5em;
		margin-bottom: 0.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.alignright {
		float: right;
		margin-bottom: 0.5em;
		margin-left: 1.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.aligncenter {
		display: block;
		margin: 0 auto 2em;
		text-align: center;
	}

	.alignwide {
		position: relative;
		right: -47.5vw;
		width: auto;
		max-width: none;
		max-width: $container_width + 100;
		margin-right: calc(50% - 47.5vw);
		margin-left: calc(50% - 47.5vw);
		transform: translateX(-50%);
	}

	.alignfull {
		position: relative;
		right: 50%;
		left: 50%;
		width: 100vw;
		max-width: 100vw;
		margin-right: -50vw;
		margin-left: -50vw;
	}

	// Link
	a {
		text-decoration: underline;

		@include mq(lg-min) {

			&:hover {
				text-decoration: none;
			}
		}
	}

	/* Heading */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1.5em;
		margin-bottom: 1em;
		font-weight: bold;
		line-height: 1.4;

		@include nm-text-border;
	}

	h1,
	h2 {

		@include nm-border;
		padding-bottom: 0.2em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1em;
	}

	/* Paragraph */
	p {
		margin: 0 0 2em;

		&.has-drop-cap::first-letter {
			float: left;
			margin: 0 0.1em 0 0;
			padding: 0;
			font-size: 4em;
			line-height: 1;
		}

		&.has-background {
			padding: 1.5em 1em;
		}
	}

	/* List */
	ul:not([class]),
	ol:not([class]),
	ul.rich-text,
	ol.rich-text {
		margin: 0 0 2em;
		padding-left: 1.5em;

		li {
			margin: 0.5em 0;
		}

		ul {
			margin-left: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 1em;

				&::before {
					position: absolute;
					left: 0;
					content: "-";
				}
			}
		}

		ol {
			padding-left: 1.5em;
		}
	}

	// Code
	code {
		padding: 0.1em 0.3em;
		color: var(--color-text-main);
		font-size: 0.9em;
		font-family: $base_code_font_family;
		background: var(--color-nm-dark);
		border-radius: 4px;
	}

	// Inline quotes
	q {

		@include nm-reverse;
		position: relative;
		padding: 0.3em 0.5em;
		color: var(--color-text-main);
		border: none;
		border-radius: $base_border_radius / 2;
	}

	// Quote
	blockquote {

		@include nm-reverse;
		position: relative;
		padding: 2em 2em 2em 55px;
		color: var(--color-text-main);
		border: none;
		border-radius: $base_border_radius;

		&::before {

			@include nm-text();
			position: absolute;
			top: 0.5em;
			left: 0.7em;
			font-weight: 900;
			font-size: 26px;
			font-family: "Font Awesome 5 Free";
			content: "\f10d";
		}

		p {
			margin: 0 0 1em;
		}

		cite {
			display: block;
			color: inherit;
			font-size: 0.8em;
			font-style: italic;
			opacity: $text_color_thin;
		}
	}

	// Image
	img {

		&[class*="wp-image-"],
		&.wp-post-image {

			@include nm-image;
		}
	}

	.wp-caption {

		> a {

			@include nm-image-link;
		}

		figcaption {
			margin-top: 0.5em;
			margin-bottom: 0;
			font-size: 0.8em;
			opacity: $text_color_thin;
		}
	}

	// Table
	table {

		@include nm;
		width: auto;
		margin-bottom: 0.5em;
		border-radius: $base_border_radius;

		th,
		td {
			padding: 1em;
			text-align: left;
			border-right: 1px solid var(--color-nm-dark);
			border-bottom: 1px solid var(--color-nm-dark);

			&:last-child {
				border-right: none;
			}
		}

		thead th {
			border-bottom-width: 3px;
		}

		tbody tr:last-child {

			th,
			td {
				border-bottom: none;
			}
		}

		tfoot td {
			border-top: 3px solid var(--color-nm-dark);
			border-bottom: none;
		}

		figcaption {
			margin-top: 1em;
			font-size: 0.9em;
			text-align: center;
		}
	}

	// IE11 hack
	@media all and (-ms-high-contrast: none) {

		*::-ms-backdrop,
		table {
			border-collapse: separate;
			transform: scale(0.98);
		}
	}

	// Definition Lists
	dl {

		dt {
			font-weight: bold;
		}

		dd {
			margin: 0;

			&:not(:last-of-type) {
				margin-bottom: 1em;
			}
		}
	}

	// Horizontal Rule
	hr:not(.is-style-dots) {

		@include nm-border;
		width: 50%;
		height: 3px;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 0;
		border: none;
		border-radius: 1000px;
		transform: translateY(-6px);
	}

	// Preformatted text
	pre {
		font-family: inherit;
	}
}

/*----------------------
### Image
----------------------*/

.wp-block-image {
	margin-bottom: 2em;

	> a {

		@include nm-image-link;
	}

	figcaption {
		margin-top: 0.5em;
		margin-bottom: 0;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	.aligncenter,
	.alignleft,
	.alignright,
	.is-resized {

		> figcaption {
			display: block;
			text-align: center;

			@include mq(md-max) {
				text-align: center;
			}
		}
	}

	&.is-style-rounded img {
		border-radius: 50%;
	}
}

/*----------------------
### Gallery
----------------------*/

.wp-block-gallery {
	margin-bottom: 2em;

	.blocks-gallery-grid {
		width: 100%;
	}

	.blocks-gallery-image,
	.blocks-gallery-item {

		figure {
			display: flex;
			align-items: flex-end;
			justify-content: center;
		}

		figcaption {
			bottom: 5px;
			left: 5px;
			width: calc(100% - 10px);
			max-height: calc(100% - 10px);
			padding: 0.5em;
			font-size: 0.8em;
			background: rgba(0, 0, 0, 0.6);
			border-radius: 0 0 $base_border_radius $base_border_radius;
		}

		img {
			width: 100%;
		}
	}

	> figcaption {
		display: block;
		width: 100%;
		color: inherit;
		font-size: 0.8em;
		text-align: center;
		opacity: $text_color_thin;
	}

	&.is-style-nm {

		@include nm;
		padding: 1em;
		border-radius: $base_border_radius;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
		padding: 1em;
		border-radius: $base_border_radius;
	}
}

/*----------------------
### Quote
----------------------*/

.wp-block-quote {

	@include nm-reverse();
	position: relative;
	margin-bottom: 2em;
	padding: 2em 2em 2em 3.5em;
	color: var(--color-text-main);
	border-radius: $base_border_radius;

	&::before {

		@include nm-text();
		position: absolute;
		top: 0.5em;
		left: 0.7em;
		font-weight: 900;
		font-size: 1.6em;
		font-family: "Font Awesome 5 Free";
		content: "\f10d";
	}

	p {
		margin: 0 0 1em;
	}

	cite {
		display: block;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	&.is-style-large {
		margin-bottom: 2em;
		padding: 2em 2em 2em 80px;

		&::before {
			font-size: 38px;
		}

		p {
			font-size: 1.4em;
			font-style: normal;
			line-height: inherit;
		}
	}
}

/*----------------------
### Audio
----------------------*/

.wp-block-audio {
	margin-bottom: 2em;

	@include mq(md-max) {

		&.alignleft,
		&.alignright {
			text-align: center;
		}
	}

	audio {

		@include nm-reverse;
		width: auto;
		padding: 5px;
		vertical-align: top;
		border-radius: 1000px;

		&:focus {
			outline: none;
		}

	}

	figcaption {
		margin-top: 1em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

/*----------------------
### Cover
----------------------*/

.wp-block-cover {
	min-height: 300px;
	margin-bottom: 2em;
	padding: 2em 3em;

	&.is-style-nm {

		@include nm;
		border-radius: $base_border_radius;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
		border-radius: $base_border_radius;
	}

	.wp-block-cover__inner-container {
		width: 100%;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-shadow: none;
		}

		h1,
		h2 {
			padding-bottom: 0;

			&::before {
				content: none;
			}
		}
	}

	&.aligncenter,
	&.alignleft,
	&.alignright {
		max-width: 300px;

		@include mq(md-max) {
			max-width: 100%;
		}
	}
}

/*----------------------
### File
----------------------*/

.wp-block-file {
	margin-bottom: 2em;

	a {
		display: inline-block;
		margin-bottom: 0.5em;
	}

	a.wp-block-file__button {

		@include nm-button;
		color: var(--color-accent);
		font-size: 0.8em;
		border-radius: 1000px;

		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: var(--color-accent);
			opacity: 1;
		}
	}
}

/*----------------------
### Video
----------------------*/

.wp-block-video,
.wp-block-embed {
	margin-bottom: 2em;

	video {

		@include nm-image;
		display: block;
	}

	&.aligncenter video {
		margin-right: auto;
		margin-left: auto;
	}

	@include mq(md-max) {

		&.alignleft,
		&.alignright {

			video {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	figcaption {
		margin-top: 1em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

/*------------------------------------------
## Formatting Block
------------------------------------------*/

/*----------------------
### Code
----------------------*/

.wp-block-code {

	@include nm-reverse;
	margin-bottom: 2em;
	padding: 2em;
	border-radius: $base_border_radius;

	code {
		display: block;
		background: transparent;
	}
}

/*----------------------
### Freeform
----------------------*/

/*----------------------
### Pullquote
----------------------*/

.wp-block-pullquote {
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	padding: 0;
	color: var(--color-text-main);
	text-align: inherit;

	blockquote {
		margin: 0;
		border-radius: 0;
		box-shadow: none;

		&::before {
			content: none;
		}

		p {
			margin: 0 0 1em;
			font-size: inherit;
		}

		cite {
			display: block;
			font-size: 0.8em;
			opacity: $text_color_thin;
		}
	}

	&:not(.is-style-solid-color) {

		@include nm-reverse();
		padding: 2em;
		border-color: var(--color-text-main);
		border-radius: $base_border_radius;

		blockquote {
			padding: 1em 0;
			border-color: inherit !important;
			border-top: 3px solid;
			border-bottom: 3px solid;
		}
	}

	&.is-style-solid-color {

		&.alignleft,
		&.alignright {
			margin-top: 10px;
		}

		blockquote {
			max-width: 100%;

			p {
				margin-bottom: 1em;
				font-size: 1.4em;
			}

			cite {
				font-size: 1em;
				font-style: italic;
			}
		}

		&.has-background blockquote {
			background-color: transparent;
		}

		&:not(.has-background) blockquote {
			padding: 0;
		}
	}
}

/*----------------------
### Table
----------------------*/

.wp-block-table {
	margin-bottom: 2em;
	overflow-x: initial;

	&.aligncenter table {
		margin-right: auto;
		margin-left: auto;
	}

	&.is-style-stripes {
		border-bottom: none;

		tbody tr:nth-child(odd) {
			background-color: var(--color-nm-light);
		}
	}
}

/*----------------------
### Verse
----------------------*/

.wp-block-verse {

	@include nm-reverse();
	position: relative;
	margin-bottom: 2em;
	padding: 2em;
	font-family: inherit;
	border-radius: $base_border_radius;
}

/*------------------------------------------
## Column Block
------------------------------------------*/

/*----------------------
### Columns
----------------------*/

.wp-block-columns {
	margin-bottom: 2em;

	&.has-background {
		padding: 1.5em 1em;
	}

	&.is-style-nm {

		@include nm;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	> .wp-block-column {

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}

		@media screen and (max-width: 599px) {

			&:not(:last-child) {
				margin-bottom: 2em;
			}
		}
	}
}

/*----------------------
### Button
----------------------*/

.wp-block-buttons {
	margin-bottom: 1em;

	.wp-block-button {
		margin-right: 20px;
		margin-bottom: 20px;
		color: inherit;

		&__link {
			position: relative;
			padding: 0.5em 1.5em;
			font-weight: bold;
			font-size: 1.1em;
			text-decoration: none;
			border-radius: 1000px;

			&:not(.has-background) {
				background-color: transparent;
			}

			&::before {

				@include nm;
				position: absolute;
				top: -3px;
				right: -3px;
				bottom: -3px;
				left: -3px;
				border-radius: inherit;
				content: "";
			}

			&:hover {
				text-decoration: none;

				&::before {

					@include nm-light;
				}
			}

			&:active::before {

				@include nm-active;
			}
		}
	}
}

/*----------------------
### Group
----------------------*/

.wp-block-group {
	margin-bottom: 2em;

	&.has-background {
		padding: 1.5em 1em;
	}

	&.is-style-nm {

		@include nm;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	&__inner-container {

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}
}

/*----------------------
### Media-Text
----------------------*/

.wp-block-media-text {
	margin-bottom: 2em;

	.wp-block-media-text__media {
		text-align: center;
	}

	.wp-block-media-text__content {
		padding: 0 0 0 2em;

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	> figure > video {

		@include nm-image;
		max-width: 100%;
	}

	&.has-media-on-the-right .wp-block-media-text__content {
		padding: 0 2em 0 0;
	}

	&.has-background {
		padding: 1.5em 1em;
	}

	&.is-style-nm {

		@include nm;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	@media screen and (max-width: 959px) {

		&.is-stacked-on-mobile {

			> .wp-block-media-text__media {
				margin-bottom: 2em;

				> img,
				> video {
					width: auto;
				}
			}

			&.has-media-on-the-right {

				.wp-block-media-text__content {
					grid-row: 2;
				}

				.wp-block-media-text__media {
					grid-row: 1;
				}
			}
		}
	}
}

/*----------------------
### Separator
----------------------*/
.wp-block-separator {

	&.is-style-wide {
		width: 100% !important;
	}

	&.has-background:not(.is-style-dots) {
		position: relative;
		background-color: transparent !important;

		&::before {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 3px;
			background: currentColor;
			content: "";
		}
	}

	&.is-style-dots {

		&::before {
			padding-left: 2em;
			color: currentColor;
			font-size: 30px;
			font-family: inherit;
			line-height: 0;
			letter-spacing: 2em;
			content: "\00b7 \00b7 \00b7";
		}
	}
}

/*------------------------------------------
## Widget Block
------------------------------------------*/

/*----------------------
### Archives
----------------------*/

.wp-block-archives {
	margin-bottom: 2em;

	&:not(.wp-block-archives-dropdown) {
		padding-left: 1.5em;
	}

	&.wp-block-archives-dropdown select {

		@include nm-input;
		display: inline-block;
		width: auto;
		border-radius: 1000px;
	}
}

/*----------------------
### Calendar
----------------------*/

.wp-block-calendar {

	@include nm;
	max-width: 350px;
	margin-bottom: 2em;
	padding: 1.5em 1em;
	border-radius: $base_border_radius;

	.wp-calendar-table {
		width: 100%;
		table-layout: fixed;
		box-shadow: none;

		caption {
			margin-bottom: 1em;
			font-weight: bold;
		}

		thead th {
			font-weight: bold;
			text-align: center;
			background: transparent;
			border: none;
		}

		tbody td {
			padding: 0;
			padding: 0.3em;
			line-height: 2.4;
			text-align: center;
			border: none;

			a {

				@include nm-button;
				display: block;
				color: var(--color-accent);
				font-weight: bold;
				border-radius: $base_border_radius;
			}
		}
	}

	.wp-calendar-nav {
		display: flex;
		justify-content: space-between;
		padding-top: 0.5em;

		a {
			padding: 0.5em;
			color: var(--color-accent);
			text-decoration: none;

			@include mq(lg-min) {

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/*----------------------
### Categories
----------------------*/

.wp-block-categories {

	&.wp-block-categories-list {
		padding-left: 1.5em;
	}

	&.wp-block-categories-dropdown {
		margin-bottom: 2em;

		select {

			@include nm-input;
			display: inline-block;
			width: auto;
			border-radius: 1000px;
		}
	}
}

/*----------------------
### Latest-Comments
----------------------*/

.wp-block-latest-comments {

	@include nm;
	margin-bottom: 2em;
	padding: 1.5em 1em;
	border-radius: $base_border_radius;

	&__comment {
		position: relative;
		display: flex;
		margin-bottom: 0;
		line-height: inherit;

		&:not(:last-child) {

			@include nm-border;
			margin-bottom: 1em;
			padding-bottom: 1em;
		}
	}

	&__comment-meta,
	&__comment-excerpt {
		margin-left: 0 !important;
	}

	.avatar,
	&__comment-avatar {

		@include nm;
		position: relative;
		top: -6px;
		margin-right: 1em;
	}

	&__comment-date {
		display: block;
		margin-top: 0.3em;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}

	&__comment-excerpt {

		p {
			margin: 0.2em 0 0;
			line-height: inherit;
		}
	}
}

/*----------------------
### Latest-Posts
----------------------*/

.wp-block-latest-posts {
	margin-bottom: 2em;

	&.wp-block-latest-posts__list {
		padding: 0;
	}

	> li {

		@include nm;
		@include clearfix();
		padding: 1.5em 1em;
		border-radius: $base_border_radius;

		> a {
			margin: 0;
			font-weight: bold;
			font-size: 1.2em;
			line-height: 1.4;
		}
	}

	&:not(.is-grid) {

		li:not(:last-child) {
			margin-bottom: 1.5em;
		}
	}

	&.is-grid {
		max-width: none;
		margin-right: -8px;
		margin-left: -8px;

		&.alignleft {
			margin-right: 1.5em;
		}

		&.alignright {
			margin-left: 1.5em;
		}

		@include mq(md-max) {

			&.alignleft,
			&.alignright {
				margin-right: auto;
				margin-left: auto;
			}
		}

		> li {
			margin: 0 8px 16px;
			padding: 1em;
		}
	}

	&__post-date {
		display: block;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}
}

/*----------------------
### RSS
----------------------*/

.wp-block-rss {
	margin-bottom: 2em;
	list-style: none;

	&:not(.is-grid) {

		@include nm;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;

		> li {
			margin: 0;

			&:not(:last-child) {

				@include nm-border;
				margin-bottom: 1em;
				padding-bottom: 1em;
			}
		}
	}

	&.is-grid {
		max-width: none;
		margin-right: -8px;
		margin-left: -8px;

		&.alignleft {
			margin-right: 1.5em;
		}

		&.alignright {
			margin-left: 1.5em;
		}

		@include mq(md-max) {

			&.alignleft,
			&.alignright {
				margin-right: auto;
				margin-left: auto;
			}
		}

		&.aligncenter {
			display: flex;
		}

		> li {

			@include nm;
			margin: 0 8px 16px;
			padding: 1em;
			border-radius: $base_border_radius;
		}
	}

	&__item-title a::before {
		display: inline-block;
		margin-right: 0.5em;
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		content: "\f09e";
	}

	&__item-author {
		color: inherit;
		font-size: 0.8em;
		font-style: italic;
	}

	&__item-publish-date {
		display: block;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}

	&__item-excerpt {
		font-size: 0.9em;
	}
}

/*----------------------
### Search
----------------------*/

.wp-block-search {
	position: relative;
	display: block;
	max-width: 400px;
	margin-bottom: 2em;

	&__label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		word-wrap: normal !important;
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
	}

	.wp-block-search__input {

		@include nm-input;
		max-width: 100%;
		padding-right: 3em;
		border-radius: 1000px;
	}

	&__input {
		width: 100%;
	}

	&__button {
		position: absolute;
		top: 50%;
		right: 0.5em;
		width: 2em;
		height: 2em;
		padding: 0;
		color: var(--color-accent);
		transform: translateY(-50%);
		visibility: hidden;
		transition: opacity $base_transition_duration ease-in-out;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			transform: translate(-50%, -50%);
			visibility: visible;
			content: "\f002";
		}

		@include mq(lg-min) {

			&:hover {
				opacity: $base_hover_opacity;
			}
		}
	}
}

/*----------------------
### Tag-cloud
----------------------*/

.wp-block-tag-cloud {
	margin-bottom: 2em;

	a {

		@include nm-button;
		display: inline-block;
		margin: 0 0.2em 1em;
		padding: 0.3em 1em;
		color: var(--color-accent);
		font-size: 1em !important;
		border-radius: 1000px;

		.tag-link-count {
			color: var(--color-text-main);
			opacity: $text_color_thin;
		}
	}
}

/*----------------------
### Social links
----------------------*/

.wp-block-social-links {

	flex-wrap: wrap;
	margin-bottom: 2em;
	padding: 0;

	&.aligncenter {
		display: flex !important;
	}

	li {
		margin: 0 0.5em 0.5em 0;
	}

	&.is-style-nm {
		font-size: 1.3em;

		.wp-social-link {
			width: auto;
			height: auto;

			&:hover {
				transform: none;
			}

			a {

				@include nm-button;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2em;
				height: 2em;
				padding: 0;
				color: var(--color-accent);
				border-radius: $base_border_radius;
			}
		}
	}
}

/*------------------------------------------
## Embed Block
------------------------------------------*/

.wp-block-embed {
	margin-bottom: 2em;
	text-align: center;

	.wp-block-embed__wrapper {

		> iframe {
			display: block;
			max-width: 100%;
			// margin-right: auto !important;
			// margin-left: auto !important;
		}
	}
}

/*----------------------
### Twitter
----------------------*/

.wp-block-embed-twitter .twitter-tweet {
	margin-right: auto;
	margin-left: auto;
}

/*----------------------
### Spotify
----------------------*/

.wp-block-embed-spotify .wp-block-embed__wrapper {

	&::before {
		// content: none !important;
	}

	iframe {
		// position: static !important;
		display: block;
		// height: 300px !important;
	}
}

/*----------------------
### Reddit, Crowdsignal
----------------------*/

.wp-block-embed-reddit iframe,
.wp-block-embed-crowdsignal iframe {
	background: #fff;
}

/*----------------------
### Issuu
----------------------*/

.wp-block-embed-issuu .issuuembed {
	margin: 0 auto;
}

/*----------------------
### Mixcloud
----------------------*/

.wp-block-embed-mixcloud .wp-block-embed__wrapper {

	&::before {
		// content: none !important;
	}

	iframe {
		// position: static !important;
	}
}

/*----------------------
### ReverbNation
----------------------*/

.wp-block-embed-reverbnation .wp-block-embed__wrapper::before {
	// padding-top: 55% !important;
}

/*------------------------------------------
## Block Styles
------------------------------------------*/

/*----------------------
### Color
----------------------*/

.has-bg-color {
	color: var(--color-bg) !important;
}

.has-dark-color {
	color: var(--color-nm-dark) !important;
}

.has-light-color {
	color: var(--color-nm-light) !important;
}

.has-main-text-color {
	color: var(--color-text-main) !important;
}

.has-accent-color {
	color: var(--color-accent) !important;
}

.has-link-text-color {
	color: var(--color-text-link) !important;
}

.has-white-color {
	color: #fff !important;
}

/*----------------------
### Background color
----------------------*/

.has-bg-background-color {
	background-color: var(--color-bg) !important;
}

.has-dark-background-color {
	background-color: var(--color-nm-dark) !important;
}

.has-light-background-color {
	background-color: var(--color-nm-light) !important;
}

.has-main-text-background-color {
	background-color: var(--color-text-main) !important;
}

.has-accent-background-color {
	background-color: var(--color-accent) !important;
}

.has-link-text-background-color {
	background-color: var(--color-text-link) !important;
}

.has-white-background-color {
	background-color: #fff !important;
}

/*----------------------
### Background color (Table)
----------------------*/

.has-subtle-light-gray-background-color {
	background-color: #f3f4f5;
}

.has-subtle-pale-green-background-color {
	background-color: #e9fbe5;
}

.has-subtle-pale-blue-background-color {
	background-color: #e7f5fe;
}

.has-subtle-plae-pink-background-color {
	background-color: #fcf0ef;
}

/*----------------------
### Gradient color
----------------------*/

.has-dark-light-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-nm-light)) !important;
}

.has-dark-text-main-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-main)) !important;
}

.has-dark-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-accent)) !important;
}

.has-dark-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-link)) !important;
}

.has-light-main-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-main)) !important;
}

.has-light-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-accent)) !important;
}

.has-light-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-link)) !important;
}

.has-main-text-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-accent)) !important;
}

.has-main-text-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-text-link)) !important;
}

.has-accent-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-accent), var(--color-text-link)) !important;
}

/*----------------------
### Font Size
----------------------*/

.has-small-font-size {
	font-size: 0.8em;
}

.has-medium-font-size {
	font-size: 1.2em;
}

.has-large-font-size {
	font-size: 1.6em;
}

.has-huge-font-size {
	font-size: 2em;
}
