/**
 * Audio
 */

.wp-block-audio {

	audio {

		@include nm-reverse;
		display: inline-block;
		width: auto;
		padding: 5px;
		vertical-align: top;
		border-radius: 1000px;
	}

	figcaption {
		margin-bottom: 0;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

.wp-block[data-align="wide"],
.wp-block[data-align="full"] {

	> .wp-block-audio {

		figcaption {
			text-align: center;
		}

		audio {
			width: 100%;
		}
	}
}
