/**
 * Audio
 */

.wp-block-audio {

	audio {

		@include nm-reverse;
		display: inline-block;
		width: auto;
		padding: 5px;
		vertical-align: top;
		border-radius: 1000px;
	}
}

[data-align="wide"],
[data-align="full"] {

	> .wp-block-audio {

		audio {
			width: 100%;
		}
	}
}
