/**
 * More
 */

.wp-block-more {
	clear: both;

	&::before {
		margin-top: -1.5px;
		border-top-color: var(--color-accent);
		border-top-style: solid;
	}

	input[type="text"] {
		max-width: calc(100% - 4em);
		font-family: inherit;
		color: var(--color-accent);
		background: var(--color-nm-light);

		&::placeholder {
			color: var(--color-accent);
		}
	}
}
