/**
 * Code
 */

code,
.wp-block code {
	padding: 0.1em 0.3em;
	margin: 0 0.3em;
	font-family: $base_code_font_family;
	font-size: 0.9em;
	color: inherit;
	background: var(--color-nm-dark);
	border-radius: 4px;
}

.wp-block-code {

	@include nm-reverse;
	padding: 1em;
	border: none;
	border-radius: $base_border_radius;

	code {
		display: block;
		padding: 0;
		background: transparent;
	}
}
