/**
 * Columns
 */

.wp-block-columns {
	margin-bottom: 2em;

	&.has-background {
		padding: 1.5em;
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1.5em;
		border-radius: $base_border_radius;

		&.has-background {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 5px var(--color-bg) solid;
				border-radius: $base_border_radius;
				content: "";
				pointer-events: none;
			}
		}
		// > .wp-block-column {
		// 	padding-top: 1.5em;
		// 	padding-bottom: 1.5em;

		// 	&:first-child {
		// 		padding-left: 1.5em;
		// 	}

		// 	&:last-child {
		// 		padding-right: 1.5em;
		// 	}

		// 	@media (max-width: 781px) and (min-width: 600px) {

		// 		&:nth-child(odd) {
		// 			padding-left: 1.5em;
		// 		}

		// 		&:nth-child(even) {
		// 			padding-right: 1.5em;
		// 		}

		// 		&:not(:nth-last-child(-n+2)) {
		// 			margin-bottom: 0;
		// 			padding-bottom: 0;
		// 		}
		// 	}

		// 	@media screen and (max-width: 599px) {
		// 		padding-right: 1.5em;
		// 		padding-left: 1.5em;

		// 		&:not(:first-child) {
		// 			padding-top: 0;
		// 		}

		// 		&:not(:last-child) {
		// 			padding-bottom: 0;
		// 		}
		// 	}
		// }
	}
}

.wp-block-column {

	&.has-background {
		padding: 1em;
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
		border-radius: $base_border_radius;

		&.has-background {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 5px var(--color-bg) solid;
				border-radius: $base_border_radius;
				content: "";
				pointer-events: none;
			}
		}
	}

	> *:first-child {
		margin-top: 0 !important;
	}

	> *:last-child {
		margin-bottom: 0 !important;
	}

	@media (max-width: 781px) and (min-width: 600px) {

		&:not(:nth-last-child(-n+2)) {
			margin-bottom: 2em;
		}
	}

	@media screen and (max-width: 599px) {

		&:not(:last-child) {
			margin-bottom: 2em;
		}
	}
}
