/**
 * Columns
 */

.wp-block-columns {

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
		border-radius: $base_border_radius;

		&.alignwide {

			@include mq(md-max) {
				border-radius: 0;
			}
		}

		&.alignfull {
			border-radius: 0;
		}
	}
}

.wp-block-column {

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
		border-radius: $base_border_radius;

		&.has-background {
			position: relative;
		}
	}

	> * {

		&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
			margin-top: 0;
			margin-bottom: 2em;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (max-width: 781px) and (min-width: 600px) {

		&:not(:nth-last-child(-n+2)) {
			margin-bottom: 2em;
		}
	}

	@media screen and (max-width: 599px) {

		&:not(:last-child) {
			margin-bottom: 2em;
		}
	}
}
