/**
 * Columns
 */

.wp-block-columns {

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
		border-radius: $base_border_radius;
	}
}

.wp-block-column {

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
		border-radius: $base_border_radius;

		&.has-background {
			position: relative;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 5px var(--color-bg) solid;
				border-radius: $base_border_radius;
				content: "";
				pointer-events: none;
			}
		}
	}

	> *:first-child {
		margin-top: 0 !important;
	}

	> *:last-child {
		margin-bottom: 0 !important;
	}
}

[data-align="full"] > .wp-block-columns {

	&.is-style-nm,
	&.is-style-nm-reverse {
		border-radius: 0;
	}
}
