/**
 * Columns
 */

.wp-block-columns {

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
		border-radius: $base_border_radius;
	}
}

.wp-block-column {

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1em;
		border-radius: $base_border_radius;

		&.has-background {
			position: relative;
		}
	}

	> *:first-child {
		margin-top: 0 !important;
	}

	> *:last-child {
		margin-bottom: 0 !important;
	}
}

[data-align="full"] > .wp-block-columns {

	&.is-style-nm,
	&.is-style-nm-reverse {
		border-radius: 0;
	}
}
