/*----------------------
# Table
----------------------*/

.wp-block-table {
	margin-bottom: 2em;
	overflow-x: initial;
	text-align: left;

	&.aligncenter table {
		margin-right: auto;
		margin-left: auto;
	}

	&.alignwide,
	&.alignfull {

		table {
			width: 100%;
		}
	}

	&.is-style-nm-none table {
		overflow: auto;
		border: 1px solid var(--color-nm-dark);
		box-shadow: none;
	}

	&.is-style-stripes {
		border-bottom: none;

		th,
		td {
			border-color: var(--color-nm-dark);
		}

		tbody tr:nth-child(odd) {
			background-color: var(--color-nm-light);
		}
	}
}
