/*----------------------
# Table
----------------------*/

.wp-block-table {
	margin-bottom: 2em;
	overflow-x: initial;
	text-align: left;

	&.aligncenter table {
		margin-right: auto;
		margin-left: auto;
	}

	table {
		width: auto;
		margin-bottom: 0.5em;
		overflow: hidden;
	}

	&.is-style-nm-none table {
		border: 1px solid var(--color-nm-dark);
	}

	&:not(.is-style-nm-none) table {

		@include nm;
		border-radius: $base_border_radius;
	}

	th,
	td {
		padding: 1em;
		text-align: left;
		border-right: 1px solid var(--color-nm-dark);
		border-bottom: 1px solid var(--color-nm-dark);

		&:last-child {
			border-right: none;
		}
	}

	thead th {
		border-bottom-width: 2px;
	}

	tbody tr:last-child {

		th,
		td {
			border-bottom: none;
		}
	}

	tfoot td {
		border-top: 2px solid var(--color-nm-dark);
		border-bottom: none;
	}

	&.is-style-stripes {
		border-bottom: none;

		th,
		td {
			border-color: var(--color-nm-dark);
		}

		tbody tr:nth-child(odd) {
			background-color: var(--color-nm-light);
		}
	}
}
