/*----------------------
# Table
----------------------*/

.wp-block-table {
	margin-top: 28px;
	margin-bottom: 28px;
	overflow-x: initial;
	text-align: left;

	&.aligncenter table {
		margin-right: auto;
		margin-left: auto;
	}

	&.is-style-nm-none table {
		overflow: auto;
		border: 1px solid var(--color-nm-dark);
		box-shadow: none;
	}

	&.is-style-stripes {
		border-bottom: none;

		th,
		td {
			border-color: var(--color-nm-dark);
		}

		tbody tr:nth-child(odd) {
			background-color: var(--color-nm-light);
		}
	}

	figcaption {
		text-align: inherit;
	}
}

.wp-block[data-align="center"] > .wp-block-table {
	text-align: inherit;
}

.wp-block[data-align="wide"],
.wp-block[data-align="full"] {

	> .wp-block-table table {
		width: 100%;
	}
}
