/**
 * Table
 */

table {

	@include nm;
	width: auto;
	overflow: hidden;
	border-radius: $base_border_radius;

	th,
	td {
		padding: 1em;
		text-align: left;
		border: none;
		border-right: 1px solid var(--color-nm-dark);
		border-bottom: 1px solid var(--color-nm-dark);

		&:last-child {
			border-right: none;
		}
	}

	thead th {
		border-bottom-width: 2px;
	}

	tbody tr:last-child {

		th,
		td {
			border-bottom: none;
		}
	}

	tfoot td {
		border-top: 2px solid var(--color-nm-dark);
		border-bottom: none;
	}
}

.wp-block-table {
	overflow-x: initial;
	text-align: left;

	thead,
	tfoot {
		border: none;
	}

	&.is-style-nm-none table {
		overflow: auto;
		border: 1px solid var(--color-nm-dark);
		border-radius: 0;
		box-shadow: none;
	}

	&.is-style-stripes {
		border-bottom: none;

		th,
		td {
			border-color: var(--color-nm-dark);
		}

		tbody tr:nth-child(odd) {
			background-color: var(--color-nm-light);
		}
	}

	&.wp-block-table figcaption {
		color: var(--color-text-main);
	}
}

[data-align="wide"],
[data-align="full"] {

	> .wp-block-table table {
		width: 100%;
	}
}

[data-align="full"] > .wp-block-table table {
	border-radius: 0;
}
