/**
 * Buttons
 */

.wp-block-buttons {
	column-gap: 20px;

	&.alignwide,
	&.alignfull {
		padding-right: 0.5em;
		padding-left: 0.5em;
	}

	> .wp-block-button {
		margin-bottom: 26px;
		color: inherit;

		&.wp-block-button__width-25 {
			width: calc(25% - 15px);
		}

		&.wp-block-button__width-50 {
			width: calc(50% - 10px);
		}

		&.wp-block-button__width-75 {
			width: calc(75% - 5px);
		}

		.wp-block-button__link {
			position: relative;
			padding: 0.6em 1.5em;
			font-weight: bold;
			line-height: 1.4;
			text-decoration: none;

			&:not(.has-background) {
				background-color: transparent;
			}

			&::before {

				@include nm;
				position: absolute;
				top: -3px;
				right: -3px;
				bottom: -3px;
				left: -3px;
				border-radius: inherit;
				content: "";
			}

			&:hover::before {

				@include nm-light;
			}

			&:active::before {

				@include nm-active;
			}

			&:focus-visible::before {
				z-index: -1;
			}
		}
	}
}
