/**
 * Buttons
 */

.wp-block-buttons {
	column-gap: 20px;

	> .wp-block-button {
		margin-top: 0;
		margin-bottom: 26px;

		&.wp-block-button__width-25 {
			width: calc(25% - 15px);
		}

		&.wp-block-button__width-50 {
			width: calc(50% - 10px);
		}

		&.wp-block-button__width-75 {
			width: calc(75% - 5px);
		}

		.wp-block-button__link {
			position: relative;
			padding: 0.6em 1.5em;
			font-weight: bold;
			line-height: 1.4;
			text-decoration: none;

			&:not(.has-background) {
				background-color: transparent;
			}

			&::before {

				@include nm;
				position: absolute;
				top: -3px;
				right: -3px;
				bottom: -3px;
				left: -3px;
				border-radius: inherit;
				content: "";
			}
		}
	}
}

[data-align="wide"],
[data-align="full"] {

	> .wp-block-buttons {
		padding-right: 0.5em;
		padding-left: 0.5em;
	}
}
