/**
 * Custom HTML
 */

.wp-block-html,
[data-type="core/html"] {

	.block-editor-plain-text {
		padding: 1em;
		font-family: $base_code_font_family;
		font-size: 0.9em;
		color: inherit;
		background: var(--color-nm-light);
		border: none;
		border-radius: 0;
	}
}
