/*--------------------------------------------------------------
# Front-end block styles
--------------------------------------------------------------*/

/*------------------------------------------
## Common/Tag Style
------------------------------------------*/

.entry-content {

	> * {
		max-width: 100%;
		margin: 0 0 2em;
	}

	> :last-child {
		margin-bottom: 0 !important;
	}

	// Alignment
	.alignleft {
		float: left;
		margin-right: 1.5em;
		margin-bottom: 0.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.alignright {
		float: right;
		margin-bottom: 0.5em;
		margin-left: 1.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.aligncenter {
		display: block;
		margin: 0 auto 2em;
		text-align: center;
	}

	.alignwide {
		position: relative;
		right: -47.5vw;
		width: auto;
		max-width: none;
		max-width: $container_width + 100;
		margin-right: calc(50% - 47.5vw);
		margin-left: calc(50% - 47.5vw);
		transform: translateX(-50%);
	}

	.alignfull {
		position: relative;
		right: 50%;
		left: 50%;
		width: 100vw;
		max-width: 100vw;
		margin-right: -50vw;
		margin-left: -50vw;
	}

	/* Heading */
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-top: 1.5em;
		margin-bottom: 1em;
		font-weight: bold;
		line-height: 1.4;

		@include nm-text-border;
	}

	> h1,
	> h2 {

		@include nm-border;
		padding-bottom: 0.2em;
	}

	> h1 {
		font-size: 2em;
	}

	> h2 {
		font-size: 1.8em;
	}

	> h3 {
		font-size: 1.6em;
	}

	> h4 {
		font-size: 1.4em;
	}

	> h5 {
		font-size: 1.2em;
	}

	> h6 {
		font-size: 1em;
	}

	/* Paragraph */
	p {

		&.has-drop-cap::first-letter {
			float: left;
			margin: 0 0.1em 0 0;
			padding: 0;
			font-size: 4em;
			line-height: 1;
		}

		&.has-background {
			padding: 15px 20px;
		}

		> img {
			margin: 0 5px;
		}
	}

	/* List */
	> ul:not([class]),
	> ol:not([class]) {
		margin-left: 0;
		padding-left: 1.5em;

		li {
			margin: 0.5em 0;
		}

		ul {
			margin-left: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 1em;

				&::before {
					position: absolute;
					left: 0;
					content: "-";
				}
			}
		}

		ol {
			padding-left: 1.5em;
		}
	}

	// Code
	code {
		padding: 0.1em 0.3em;
		color: var(--color-text-main);
		font-size: 0.9em;
		font-family: $base_code_font_family;
		background: var(--color-nm-dark);
		border-radius: 4px;
	}
}

/*----------------------
### Image
----------------------*/

.wp-block-image {

	&:last-child {

		@include clearfix;
	}

	.alignleft {
		margin: 0 2em 0 0;
	}

	.alignright {
		margin: 0 0 0 2em;
	}

	> figure {

		@include nm;
		padding: 5px;
		border-radius: $base_border-radius;
	}

	figcaption {
		margin-top: 0.5em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		text-align: center;
		opacity: $text_color_thin;
	}
}

/*----------------------
### Gallery
----------------------*/

/*----------------------
### Quote
----------------------*/

.wp-block-quote {

	@include nm-reverse();
	position: relative;
	padding: 2em 2em 2em 3.5em;
	border-radius: $base_border_radius;

	&::before {

		@include nm-text();
		position: absolute;
		top: 0.5em;
		left: 0.7em;
		font-weight: 900;
		font-size: 1.6em;
		font-family: "Font Awesome 5 Free";
		content: "\f10d";
	}

	p {
		margin: 0 0 1em;
	}

	cite {
		display: block;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	&.is-style-large {
		margin-bottom: 2em;
		padding: 2em 2em 2em 5em;

		&::before {
			font-size: 2.4em;
		}

		p {
			font-size: 1.4em;
			font-style: normal;
			line-height: inherit;
		}
	}
}

/*----------------------
### Audio
----------------------*/

.wp-block-audio {

	@include mq(md-max) {

		&.alignleft,
		&.alignright {
			text-align: center;
		}
	}

	audio {

		@include nm-reverse;
		width: auto;
		padding: 5px;
		vertical-align: top;
		border-radius: 1000px;

		&:focus {
			outline: none;
		}

	}

	figcaption {
		margin-top: 1em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

/*----------------------
### Cover
----------------------*/

/*----------------------
### File
----------------------*/

.wp-block-file {

	a {
		display: inline-block;
		margin-bottom: 0.5em;
	}

	a.wp-block-file__button {
		font-size: 0.8em;
		border-radius: 1000px;

		@include nm-button;

		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: inherit;
			opacity: 1;
		}
	}
}

/*----------------------
### Video
----------------------*/

.wp-block-video,
.wp-block-embed {

	video {
		display: block;
	}

	&.aligncenter video {
		margin-right: auto;
		margin-left: auto;
	}

	@include mq(md-max) {

		&.alignleft,
		&.alignright {

			video {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	figcaption {
		margin-top: 1em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

/*------------------------------------------
## Formatting Block
------------------------------------------*/

/*----------------------
### Code
----------------------*/

.wp-block-code {

	@include nm-reverse;
	padding: 2em;
	border-radius: $base_border_radius;

	code {
		display: block;
		background: transparent;
	}
}

/*----------------------
### Freeform
----------------------*/

/*----------------------
### Pullquote
----------------------*/

.wp-block-pullquote {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-align: inherit;

	blockquote {
		position: relative;
		z-index: 1;
		margin: 0;

		p {
			margin: 0 0 1em;
			font-size: inherit;
		}

		cite {
			display: block;
			font-size: 0.8em;
			opacity: $text_color_thin;
		}
	}

	&:not(.is-style-solid-color) {

		@include nm-reverse();
		padding: 2em;
		border-color: var(--color-text-main);
		border-radius: $base_border_radius;

		&::before {
			top: -2em;
			right: -2em;
			bottom: -2em;
			left: -2em;
			padding: 2em;
		}

		blockquote {
			padding: 1em 0;
			border-color: inherit !important;
			border-top: 3px solid;
			border-bottom: 3px solid;
		}
	}

	&.is-style-solid-color {
		width: calc(100% - 20px);
		margin-top: calc(2em + 10px);
		margin-bottom: calc(2em + 10px);
		border-radius: $base_border_radius / 2;

		&.alignleft,
		&.alignright {
			margin-top: 10px;
		}

		&::before {

			@include nm-reverse();
			position: absolute;
			top: -10px;
			right: -10px;
			bottom: -10px;
			left: -10px;
			padding: 2em;
			border-radius: $base_border_radius;
			content: "";
		}

		blockquote {
			max-width: 100%;
			padding: calc(2em - 10px);

			p {
				margin-bottom: 1em;
				font-size: 1.4em;
			}

			cite {
				font-size: 1em;
				font-style: italic;
			}
		}
	}
}

/*----------------------
### Table
----------------------*/

.wp-block-table {
	overflow-x: initial;

	table {

		@include nm;
		width: auto;
		margin-bottom: 0.5em;
		border-radius: $base_border_radius;

	}

	th,
	td {
		padding: 1em;
		text-align: left;
		border-right: 1px solid var(--color-nm-dark);
		border-bottom: 1px solid var(--color-nm-dark);

		&:last-child {
			border-right: none;
		}
	}

	thead th {
		border-bottom-width: 3px;
	}

	tbody tr:last-child td {
		border-bottom: none;
	}

	tfoot td {
		border-top: 3px solid var(--color-nm-dark);
		border-bottom: none;
	}

	figcaption {
		margin-top: 1em;
		font-size: 0.9em;
		text-align: center;
	}

	&.aligncenter table {
		margin-right: auto;
		margin-left: auto;
	}
}

/*----------------------
### Verse
----------------------*/

.wp-block-verse {

	@include nm-reverse();
	position: relative;
	padding: 2em;
	font-family: inherit;
	border-radius: $base_border_radius;
}

/*------------------------------------------
## Column Block
------------------------------------------*/

/*----------------------
### Columns
----------------------*/

/*----------------------
### Button
----------------------*/

.wp-block-button {
	color: inherit;

	&__link {

		@include nm-button;
		padding: 0.7em 1.4em;
		font-size: inherit;
		border-radius: 0;
	}
}

/*----------------------
### Group
----------------------*/

/*----------------------
### Media-Text
----------------------*/

/*----------------------
### Nextpage
----------------------*/

/*----------------------
### Separator
----------------------*/

.wp-block-separator {

	&:not(.is-style-dots) {

		@include nm-border;
		height: 3px;
		margin-right: auto;
		margin-left: auto;
		border: none;

		&:not(.is-style-wide) {
			max-width: 50%;
		}
	}

	&.is-style-dots::before {
		font-size: 24px;
		font-family: inherit;
		line-height: 0;
	}
}

/*------------------------------------------
## Widget Block
------------------------------------------*/

/*----------------------
### Shortcode
----------------------*/

/*----------------------
### Archives
----------------------*/

.wp-block-archives {

	&.wp-block-archives-dropdown select {

		@include nm-input;
		display: inline-block;
		width: auto;
		border-radius: 1000px;
	}
}

/*----------------------
### Calendar
----------------------*/

.wp-block-calendar {

	@include nm;
	max-width: 350px;
	padding: 1em;
	border-radius: $base_border_radius;

	.wp-calendar-table {
		width: 100%;
		table-layout: fixed;

		caption {
			margin-bottom: 1em;
			font-weight: bold;
		}

		thead th {
			font-weight: bold;
			text-align: center;
			background: transparent;
			border: none;
		}

		tbody td {
			padding: 0;
			padding: 0.3em;
			line-height: 2.4;
			text-align: center;
			border: none;

			a {

				@include nm-button;
				display: block;
				color: var(--color-accent);
				font-weight: bold;
				border-radius: $base_border_radius;
			}
		}
	}

	.wp-calendar-nav {
		display: flex;
		justify-content: space-between;
		padding-top: 0.5em;

		a {
			padding: 0.5em;
			color: var(--color-accent);
			text-decoration: none;

			@include mq(lg-min) {

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/*----------------------
### Categories
----------------------*/

.wp-block-categories-dropdown {

	select {

		@include nm-input;
		display: inline-block;
		width: auto;
		border-radius: 1000px;
	}
}

/*----------------------
### Latest-Comments
----------------------*/

.wp-block-latest-comments {

	@include nm;
	padding: 1.5em 1em;
	border-radius: $base_border_radius;

	&__comment {
		position: relative;
		margin-bottom: 0;
		line-height: inherit;

		&:not(:last-child) {

			@include nm-border;
			margin-bottom: 1em;
			padding-bottom: 1em;
		}
	}

	.avatar,
	&__comment-avatar {

		@include nm;
		position: absolute;
		top: -9px;
		margin: 0;
	}

	&__comment-date {
		display: block;
		margin-top: 0.3em;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}

	&__comment-excerpt {

		p {
			margin: 0.2em 0 0;
			line-height: inherit;
		}
	}
}

/*----------------------
### Latest-Posts
----------------------*/

.wp-block-latest-posts {

	&.wp-block-latest-posts__list {
		padding: 0;
	}

	> li {

		@include nm;
		@include clearfix();
		padding: 1.5em 1em;
		border-radius: $base_border_radius;

		> a {
			margin: 0;
			font-weight: bold;
			font-size: 1.2em;
			line-height: 1.4;
		}
	}

	&:not(.is-grid) {

		li:not(:last-child) {
			margin-bottom: 1.5em;
		}
	}

	&.is-grid {
		max-width: none;
		margin-right: -8px;
		margin-left: -8px;

		&.alignleft {
			margin-right: 1.5em;
		}

		&.alignright {
			margin-left: 1.5em;
		}

		@include mq(md-max) {

			&.alignleft,
			&.alignright {
				margin-right: auto;
				margin-left: auto;
			}
		}

		> li {
			margin: 0 8px 16px;
			padding: 1em;
		}
	}

	&__featured-image img {

		@include nm-image;
	}

	&__post-date {
		display: block;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}
}

/*----------------------
### RSS
----------------------*/

.wp-block-rss {
	list-style: none;

	&:not(.is-grid) {

		@include nm;
		padding: 1em;
		border-radius: $base_border_radius;

		> li {
			margin: 0;

			&:not(:last-child) {

				@include nm-border;
				margin-bottom: 1em;
				padding-bottom: 1em;
			}
		}
	}

	&.is-grid {
		max-width: none;
		margin-right: -8px;
		margin-left: -8px;

		&.alignleft {
			margin-right: 1.5em;
		}

		&.alignright {
			margin-left: 1.5em;
		}

		@include mq(md-max) {

			&.alignleft,
			&.alignright {
				margin-right: auto;
				margin-left: auto;
			}
		}

		&.aligncenter {
			display: flex;
		}

		> li {

			@include nm;
			margin: 0 8px 16px;
			padding: 1em;
			border-radius: $base_border_radius;
		}
	}

	&__item-title a {
		display: inline-block;

		&::before {
			display: inline-block;
			margin-right: 0.5em;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			content: "\f09e";
		}
	}

	&__item-author {
		color: inherit;
		font-size: 0.8em;
		font-style: italic;
	}

	&__item-publish-date {
		display: block;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}

	&__item-excerpt {
		font-size: 0.9em;
	}
}

/*----------------------
### Search
----------------------*/

.wp-block-search {
	position: relative;
	display: block;
	max-width: 400px;

	&__label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		word-wrap: normal !important;
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
	}

	.wp-block-search__input {

		@include nm-input;
		max-width: 100%;
		padding-right: 3em;
		border-radius: 1000px;
	}

	&__button {
		position: absolute;
		top: 50%;
		right: 0.5em;
		width: 2em;
		height: 2em;
		padding: 0;
		color: var(--color-accent);
		transform: translateY(-50%);
		visibility: hidden;
		transition: opacity $base_transition_duration ease-in-out;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			transform: translate(-50%, -50%);
			visibility: visible;
			content: "\f002";
		}

		@include mq(lg-min) {

			&:hover {
				opacity: $base_hover_opacity;
			}
		}
	}
}

/*----------------------
### Tag-cloud
----------------------*/

.wp-block-tag-cloud {

	a {

		@include nm-button;
		display: inline-block;
		margin: 0 0.2em 1em;
		padding: 0.3em 1em;
		color: var(--color-accent);
		font-size: 1em !important;
		border-radius: 1000px;

		.tag-link-count {
			color: var(--color-text-main);
			opacity: $text_color_thin;
		}
	}
}

/*----------------------
### Social links
----------------------*/

.wp-block-social-links {
	flex-wrap: wrap;
	padding: 0;

	&.aligncenter {
		display: flex !important;
	}

	li {
		margin: 0 0.5em 0.5em 0;
	}

	&.is-style-nm {
		font-size: 1.3em;

		.wp-social-link {
			width: auto;
			height: auto;

			&:hover {
				transform: none;
			}

			a {

				@include nm-button;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2em;
				height: 2em;
				padding: 0;
				color: var(--color-accent);
				border-radius: $base_border_radius;
			}
		}
	}
}

/*------------------------------------------
## Embed Block
------------------------------------------*/

.wp-block-embed {
	text-align: center;

	.wp-block-embed__wrapper {

		> iframe {
			display: block;
			max-width: 100%;
			// margin-right: auto !important;
			// margin-left: auto !important;
		}
	}
}

// /*----------------------
// ### Twitter
// ----------------------*/

.wp-block-embed-twitter .twitter-tweet {
	margin-right: auto;
	margin-left: auto;
}

/*----------------------
### Spotify
----------------------*/

.wp-block-embed-spotify .wp-block-embed__wrapper {

	&::before {
		// content: none !important;
	}

	iframe {
		// position: static !important;
		display: block;
		// height: 300px !important;
	}
}

/*----------------------
### Reddit, Crowdsignal
----------------------*/

.wp-block-embed-reddit iframe,
.wp-block-embed-crowdsignal iframe {
	background: #fff;
}

/*----------------------
### Issuu
----------------------*/

.wp-block-embed-issuu .issuuembed {
	margin: 0 auto;
}

/*----------------------
### Mixcloud
----------------------*/

.wp-block-embed-mixcloud .wp-block-embed__wrapper {

	&::before {
		// content: none !important;
	}

	iframe {
		// position: static !important;
	}
}

/*----------------------
### ReverbNation
----------------------*/

.wp-block-embed-reverbnation .wp-block-embed__wrapper::before {
	// padding-top: 55% !important;
}

/*------------------------------------------
## Block Styles
------------------------------------------*/

/*------------------------------------------
## Block Properties
------------------------------------------*/

/*----------------------
### Inline color
----------------------*/

/*----------------------
### Color
----------------------*/

.has-bg-color {
	color: var(--color-bg);
}

.has-dark-color {
	color: var(--color-nm-dark);
}

.has-light-color {
	color: var(--color-nm-light);
}

.has-main-text-color {
	color: var(--color-text-main);
}

.has-accent-color {
	color: var(--color-accent);
}

.has-link-text-color {
	color: var(--color-text-link);
}

.has-white-color {
	color: #fff;
}

/*----------------------
### Background color
----------------------*/

.has-bg-background-color {
	background-color: var(--color-bg);
}

.has-dark-background-color {
	background-color: var(--color-nm-dark);
}

.has-light-background-color {
	background-color: var(--color-nm-light);
}

.has-main-text-background-color {
	background-color: var(--color-text-main);
}

.has-accent-background-color {
	background-color: var(--color-accent);
}

.has-link-text-background-color {
	background-color: var(--color-text-link);
}

.has-white-background-color {
	background-color: #fff;
}

/*----------------------
### Font Size
----------------------*/

.has-small-font-size {
	font-size: 0.8em;
}

.has-medium-font-size {
	font-size: 1.2em;
}

.has-large-font-size {
	font-size: 1.6em;
}

.has-huge-font-size {
	font-size: 2em;
}
