/*--------------------------------------------------------------
# Front-end block styles
--------------------------------------------------------------*/

/*------------------------------------------
## Common/Tag Style
------------------------------------------*/

.entry-content {

	> * {
		max-width: 100%;
		margin: 0 0 2em;
	}

	> :last-child {
		margin-bottom: 0 !important;
	}

	// Alignment
	.alignleft {
		float: left;
		margin-right: 1.5em;
		margin-bottom: 0.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.alignright {
		float: right;
		margin-bottom: 0.5em;
		margin-left: 1.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.aligncenter {
		display: block;
		margin: 0 auto 2em;
	}

	.alignwide {
		position: relative;
		right: -47.5vw;
		width: auto;
		max-width: none;
		max-width: $container_width + 100;
		margin-right: calc(50% - 47.5vw);
		margin-left: calc(50% - 47.5vw);
		transform: translateX(-50%);
	}

	.alignfull {
		position: relative;
		right: 50%;
		left: 50%;
		width: 100vw;
		max-width: 100vw;
		margin-right: -50vw;
		margin-left: -50vw;
	}

	/* Heading */
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-top: 1.5em;
		margin-bottom: 1em;
		font-weight: bold;
		line-height: 1.4;

		@include nm-text-border;
	}

	> h1,
	> h2 {

		@include nm-border;
		padding-bottom: 0.2em;
	}

	> h1 {
		font-size: 2em;
	}

	> h2 {
		font-size: 1.8em;
	}

	> h3 {
		font-size: 1.6em;
	}

	> h4 {
		font-size: 1.4em;
	}

	> h5 {
		font-size: 1.2em;
	}

	> h6 {
		font-size: 1em;
	}

	/* Paragraph */
	p {

		&.has-drop-cap::first-letter {
			float: left;
			margin: 0 0.1em 0 0;
			padding: 0;
			font-size: 4em;
			line-height: 1;
		}

		&.has-background {
			padding: 15px 20px;
		}

		> img {
			margin: 0 5px;
		}
	}

	/* List */
	> ul,
	> ol {
		margin-left: 0;
		padding-left: 1.5em;

		li {
			margin: 0.5em 0;
		}

		ul {
			margin-left: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 1em;

				&::before {
					position: absolute;
					left: 0;
					content: "-";
				}
			}
		}

		ol {
			padding-left: 1.5em;
		}
	}

	// Code
	code {
		padding: 0.1em 0.3em;
		color: var(--color-text-main);
		background: var(--color-nm-dark);
		border-radius: 4px;
	}
}

/*----------------------
### Image
----------------------*/

.wp-block-image {

	&:last-child::after {
		display: table;
		clear: both;
		content: "";
	}

	.alignleft {
		margin: 0 2em 0 0;
	}

	.alignright {
		margin: 0 0 0 2em;
	}

	> figure {

		@include nm;
		padding: 5px;
		border-radius: $base_border-radius;
	}

	figcaption {
		margin-top: 0.5em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		text-align: center;
		opacity: $text_color_thin;
	}
}

/*----------------------
### Gallery
----------------------*/

/*----------------------
### Quote
----------------------*/

.wp-block-quote {

	@include nm-reverse();
	position: relative;
	padding: 2em 2em 2em 3.5em;
	border-radius: $base_border_radius;

	&::before {

		@include nm-text();
		position: absolute;
		top: 0.5em;
		left: 0.7em;
		font-weight: 900;
		font-size: 1.6em;
		font-family: "Font Awesome 5 Free";
		content: "\f10d";
	}

	p {
		margin: 0 0 1em;
	}

	cite {
		display: block;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	&.is-style-large {
		margin-bottom: 2em;
		padding: 2em 2em 2em 5em;

		&::before {
			font-size: 2.4em;
		}

		p {
			font-size: 1.4em;
			font-style: normal;
			line-height: inherit;
		}
	}
}

/*----------------------
### Audio
----------------------*/

.wp-block-audio {

	&.aligncenter {
		text-align: center;
	}

	@include mq(md-max) {

		&.alignleft,
		&.alignright {
			text-align: center;
		}
	}

	audio {

		@include nm-reverse;
		width: auto;
		padding: 5px;
		vertical-align: top;
		border-radius: 1000px;

		&:focus {
			outline: none;
		}

	}

	&.aligncenter audio {
		text-align: center;
	}

	figcaption {
		margin-top: 1em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

/*----------------------
### Cover
----------------------*/

/*----------------------
### File
----------------------*/

.wp-block-file {

	a {
		display: inline-block;
		margin-bottom: 0.5em;
	}

	a.wp-block-file__button {
		font-size: 0.8em;
		border-radius: 1000px;

		@include nm-button();

		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: inherit;
			opacity: 1;
		}
	}
}

/*----------------------
### Video
----------------------*/

.wp-block-video,
.wp-block-embed {

	video {
		display: block;
	}

	&.aligncenter video {
		margin-right: auto;
		margin-left: auto;
	}

	@include mq(md-max) {

		&.alignleft,
		&.alignright {

			video {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	figcaption {
		margin-top: 1em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}
}

/*------------------------------------------
## Formatting Block
------------------------------------------*/

/*----------------------
### Code
----------------------*/

/*----------------------
### Freeform
----------------------*/

/*----------------------
### HTML
----------------------*/

/*----------------------
### Preformatted
----------------------*/

/*----------------------
### Pullquote
----------------------*/

.wp-block-pullquote {
	position: relative;
	padding: 20px 50px;
	border-radius: $base_border_radius;

	&::before,
	&::after {
		position: absolute;
		font-weight: 900;
		font-size: 20px;
		font-family: "Font Awesome 5 Free";
	}

	&::before {
		top: 10px;
		left: 15px;
		content: "\f10d";
	}

	&::after {
		right: 15px;
		bottom: 10px;
		content: "\f10e";
	}

	p {
		margin: 0;
	}

	cite {
		display: block;
		margin-top: 1em;
		font-size: 0.8em;
		text-align: center;
	}
}

/*----------------------
### Table
----------------------*/

/*----------------------
### Verse
----------------------*/

/*------------------------------------------
## Column Block
------------------------------------------*/

/*----------------------
### Columns
----------------------*/

/*----------------------
### Button
----------------------*/

.wp-block-button {
	color: inherit;

	&__link {

		@include nm-button;
		padding: 0.7em 1.4em;
		font-size: inherit;
		border-radius: 0;
	}
}

/*----------------------
### Group
----------------------*/

/*----------------------
### Media-Text
----------------------*/

/*----------------------
### More
----------------------*/

/*----------------------
### Nextpage
----------------------*/

/*----------------------
### Separator
----------------------*/


/*----------------------
### Spacer
----------------------*/

/*------------------------------------------
## Widget Block
------------------------------------------*/

/*----------------------
### Shortcode
----------------------*/

/*----------------------
### Archives
----------------------*/

/*----------------------
### Calendar
----------------------*/

/*----------------------
### Categories
----------------------*/

/*----------------------
### Latest-Comments
----------------------*/

/*----------------------
### Latest-Posts
----------------------*/

/*----------------------
### RSS
----------------------*/

.wp-block-rss {
	padding-left: 0 !important;
	list-style: none;

	> li {

		@include nm;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	&.is-grid {
		max-width: none;
		margin-right: -8px;
		margin-left: -8px;

		> li {
			margin: 0 8px 16px;
		}
	}

	&:not(.is-grid) > li {
		margin: 1em 0;
	}

	&__item-title a {
		display: inline-block;

		&::before {
			display: inline-block;
			margin-right: 0.5em;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			content: "\f09e";
		}
	}

	&__item-publish-date {
		display: block;
		color: inherit;
		font-size: 0.8em;

		&::before {
			margin-right: 0.2em;
			font-weight: 400;
			font-family: "Font Awesome 5 Free";
			content: "\f017";
		}
	}

	&__item-excerpt {
		font-size: 0.9em;
	}
}

/*----------------------
### Search
----------------------*/

.wp-block-search {
	position: relative;
	display: block;

	&__label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		word-wrap: normal !important;
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
	}

	&__input {

		@include nm-input;
		padding-right: 3em;
		border-radius: 1000px;
	}

	&__button {
		position: absolute;
		top: 50%;
		right: 0.5em;
		width: 2em;
		height: 2em;
		padding: 0;
		color: var(--color-accent);
		transform: translateY(-50%);
		visibility: hidden;
		transition: opacity $base_transition_duration ease-in-out;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			font-weight: 900;
			font-family: "Font Awesome 5 Free";
			transform: translate(-50%, -50%);
			visibility: visible;
			content: "\f002";
		}

		@include mq(lg-min) {

			&:hover {
				opacity: $base_hover_opacity;
			}
		}
	}
}

/*----------------------
### Tag-cloud
----------------------*/

.wp-block-tag-cloud a {

	@include nm-button;
	display: inline-block;
	margin: 0 0.2em 1em;
	padding: 0.3em 1em;
	color: var(--color-accent);
	font-size: 1em !important;
	border-radius: 1000px;

	.tag-link-count {
		color: var(--color-text-main);
		opacity: $text_color_thin;
	}
}

/*------------------------------------------
## Embed Block
------------------------------------------*/

.wp-block-embed {
	text-align: center;

	.wp-block-embed__wrapper {

		> iframe {
			display: block;
			max-width: 100%;
			margin-right: auto !important;
			margin-left: auto !important;
		}
	}
}

// /*----------------------
// ### Twitter
// ----------------------*/

.wp-block-embed-twitter .twitter-tweet {
	margin-right: auto;
	margin-left: auto;
}

/*----------------------
### Spotify
----------------------*/

.wp-block-embed-spotify .wp-block-embed__wrapper {

	&::before {
		content: none !important;
	}

	iframe {
		position: static !important;
		display: block;
		height: 300px !important;
	}
}

/*----------------------
### Reddit, Crowdsignal
----------------------*/

.wp-block-embed-reddit iframe,
.wp-block-embed-crowdsignal iframe {
	background: #fff;
}

/*----------------------
### Issuu
----------------------*/

.wp-block-embed-issuu .issuuembed {
	margin: 0 auto;
}

/*----------------------
### Mixcloud
----------------------*/

.wp-block-embed-mixcloud .wp-block-embed__wrapper {

	&::before {
		content: none !important;
	}

	iframe {
		position: static !important;
	}
}

/*----------------------
### ReverbNation
----------------------*/

.wp-block-embed-reverbnation .wp-block-embed__wrapper::before {
	padding-top: 55% !important;
}

/*------------------------------------------
## Block Styles
------------------------------------------*/

/*------------------------------------------
## Block Properties
------------------------------------------*/

/*----------------------
### Inline color
----------------------*/

/*----------------------
### Color
----------------------*/

.has-bg-color {
	color: var(--color-bg);
}

.has-dark-color {
	color: var(--color-nm-dark);
}

.has-light-color {
	color: var(--color-nm-light);
}

.has-main-text-color {
	color: var(--color-text-main);
}

.has-accent-color {
	color: var(--color-accent);
}

.has-link-text-color {
	color: var(--color-text-link);
}

.has-white-color {
	color: #fff;
}

/*----------------------
### Background color
----------------------*/

.has-bg-background-color {
	background: var(--color-bg);
}

.has-dark-background-color {
	background: var(--color-nm-dark);
}

.has-light-background-color {
	background: var(--color-nm-light);
}

.has-main-text-background-color {
	background: var(--color-text-main);
}

.has-accent-background-color {
	background: var(--color-accent);
}

.has-link-text-background-color {
	background: var(--color-text-link);
}

.has-white-background-color {
	background: #fff;
}

/*----------------------
### Font Size
----------------------*/

.has-small-font-size {
	font-size: 0.8em;
}

.has-medium-font-size {
	font-size: 1.2em;
}

.has-large-font-size {
	font-size: 1.6em;
}

.has-huge-font-size {
	font-size: 2em;
}
