/*--------------------------------------------------------------
# Component
--------------------------------------------------------------*/

/*------------------------------------------
## Entry area
------------------------------------------*/

.c-entry {

	&__header {

		@include nm-border;
		position: relative;
		margin-bottom: 4em;
		padding-bottom: 1em;
	}

	&__title {

		@include nm-text-border;
		margin: 0;
		font-weight: bold;
		font-size: 2em;
		line-height: 1.4;

		@include mq(lg-min) {
			font-size: 2.2em;
		}
	}

	&__edit {
		margin-top: 3em;
		text-align: center;
	}

	&__edit-link {

		@include nm-button;
		display: inline-block;
		padding: 0.7em 1.4em;
		color: var(--color-text-link);
		border-radius: 1000px;
	}

	.navigation .nav-links {

		@include clearfix;
		margin-top: 4em;

		.nav-previous,
		.nav-next {
			position: relative;
			max-width: 40%;
			overflow: hidden;
			color: var(--color-text-link);
			white-space: nowrap;
			text-overflow: ellipsis;

			@include mq(md-max) {
				max-width: 100%;
				margin: 0.2em 0;
			}

			&::before {
				position: absolute;
				font-weight: 900;
				font-family: "Font Awesome 5 Free";
			}
		}

		.nav-previous {
			float: left;
			padding-left: 1.5em;

			&::before {
				left: 0;
				content: "\f100";
			}
		}

		.nav-next {
			float: right;
			padding-right: 1.5em;

			&::before {
				right: 0;
				content: "\f101";
			}
		}
	}

	.c-tag {
		margin-top: 4em;
	}
}

/*------------------------------------------
## Archive post area
------------------------------------------*/

.c-entries {

	@include mq(md-min) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include mq(lg-min) {
		display: block;
	}

	&__item {

		@include mq(md-min) {
			width: calc(50% - #{$container_padding / 2});
		}

		@include mq(lg-min) {
			width: 100%;
		}

		&:not(:last-child) {
			margin-bottom: 1.5em;
		}

		> a {

			@include nm-link;
			display: block;
			height: 100%;
			padding: 1em;
			color: inherit;
			text-decoration: none;
			border-radius: $base_border_radius;
		}
	}

	&__thumbnail {

		position: relative;
		margin: 0 0 1em;
		overflow: hidden;

		@include mq(lg-min) {
			float: left;
			width: 30%;
			margin: 0 1em 0 0;
		}

		&::before {
			display: block;
			padding-top: 62%;
			content: "";
		}

		img {

			@include nm-image;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--noimage {
			display: flex;
			align-items: center;
			justify-content: center;
			background: var(--color-nm-dark);

			i {
				font-size: 18vw;
				transition: transform $base_transition_duration ease-in-out;

				@include mq(md-min) {
					font-size: 3em;
				}
			}
		}
	}

	&__body {
		overflow: hidden;
	}

	&__header {
		margin: -0.3em 0 0.5em;
	}

	&__title {
		margin: 0;
		font-weight: bold;
		font-size: 1.2em;
		line-height: 1.4;
	}
}

/*------------------------------------------
## Comment area
------------------------------------------*/

.c-comment {

	@include nm;
	margin-top: 3em;
	padding: 1.5em 2em;
	border-radius: 10px;

	&__title {

		@include nm-border;
		@include nm-text-border;
		position: relative;
		margin: 0 0 1em;
		padding-bottom: 0.5em;
		font-size: 1.4em;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			&:not(:last-child) {

				@include nm-border;
				margin-bottom: 1em;
				padding-bottom: 1em;
			}
		}

		.children {
			margin: 0;
			padding: 0 0 0 2em;
			list-style: none;
		}

		.comment-meta {
			margin-bottom: 1em;
		}

		.comment-metadata {
			font-size: 0.8em;

			.edit-link {
				margin-left: 1em;
			}
		}

		.comment-content > p {
			margin: 0;
		}

		.reply {
			margin-top: 0.5em;
		}
	}

	&__nav {

		&--top {
			margin-bottom: 1em;
		}

		&--bottom {
			margin-top: 1em;
		}
	}

	&__form {
		margin: 0 0 1em;

		.comment-form-comment {
			margin: 0 0 1em;

			label {
				display: block;
				margin-bottom: 0.5em;
			}

			textarea {

				@include nm-input;
				border-radius: $base_border_radius;
			}
		}

		.form-submit {
			margin: 0;

			[type="submit"] {

				@include nm-button;
				width: auto;
				border-radius: 1000px;
			}
		}
	}
}

/*------------------------------------------
## Meta info
------------------------------------------*/

.c-meta {
	margin-top: 0.5em;

	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		font-size: 0.8em;
		list-style-type: none;
	}

	&__item {

		&:not(:last-child) {
			margin-right: 1em;
		}

		&--published,
		&--modified {
			white-space: nowrap;
		}

		&--categories {
			position: relative;
			padding-left: 1.5em;

			&::before {
				position: absolute;
				left: 0;
				font-weight: 900;
				font-family: "Font Awesome 5 Free";
				content: "\f07b";
			}

			a {
				color: inherit;
			}
		}
	}
}

/*------------------------------------------
## Tags
------------------------------------------*/

.c-tag {
	position: relative;
	padding-left: 1.5em;

	&::before {
		position: absolute;
		left: 0;
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		content: "\f02c";
	}

	a {

		@include nm-button;
		display: inline-block;
		margin: 0 0.2em 1em;
		padding: 0.3em 1em;
		color: var(--color-accent);
		font-size: 0.8em;
		border-radius: 1000px;
	}
}

/*------------------------------------------
## SNS button
------------------------------------------*/

.c-sns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	list-style: none;

	&__item {
		margin: 0 0.3em 0.6em;

		a {

			@include nm-button;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2em;
			height: 2em;
			color: var(--color-accent);
			border-radius: $base_border_radius;

			.fa-line {
				font-size: 1.2em;
			}
		}
	}
}

/*------------------------------------------
## Search form
------------------------------------------*/

.c-search-form {

	&__inner {
		position: relative;
	}

	&__input {

		@include nm-input;
		padding-right: 3em;
		border-radius: 1000px;
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 0.5em;
		width: 2em;
		height: 2em;
		padding: 0;
		color: var(--color-accent);
		transform: translateY(-50%);
		transition: opacity $base_transition_duration ease-in-out;

		@include mq(lg-min) {

			&:hover {
				opacity: $base_hover_opacity;
			}
		}
	}
}

/*------------------------------------------
## Pagination
------------------------------------------*/

.c-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 4em;

	&__item,
	.post-page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5em;
		height: 2.5em;
		margin: 0 0.3em 0.6em;
		color: var(--color-accent);
		font-weight: bold;
		text-decoration: none;
		border-radius: 50%;

		&--link,
		&--prev,
		&--next {

			@include nm-button;
			color: var(--color-accent);
		}

		&--current,
		&.current {

			@include nm-light;
			color: inherit;
		}

		@include mq(lg-min) {

			&:hover {
				text-decoration: none;
			}
		}
	}
}
