/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/*------------------------------------------
## Global menu
------------------------------------------*/

.gnav {

	@include mq(md-max) {
		display: none;
	}
	margin: 1em 0 0;

	padding: 0;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 1em 0 0;
		padding: 0;
		font-weight: bold;
		list-style: none;
	}

	&__item {
		position: relative;
		list-style: none;

		> a {

			@include nm-text-border;
			display: block;
			padding: 0.5em 0.8em;
			color: inherit;
			text-align: center;
			transition: color $base_transition_duration ease-in-out;

			@include mq(lg-min) {

				&:hover {
					color: var(--color-accent);
					text-decoration: none;
				}
			}
		}

		> .gnav__submenu {
			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 1;
			width: 14em;
			padding: 0;
			text-align: left;
			list-style: none;
			background: var(--color-nm-dark);
			transform: translateX(-50%);
			visibility: hidden;
			opacity: 0;
			transition: opacity $base_transition_duration ease-in-out;

			&[aria-hidden="false"] {
				visibility: visible;
				opacity: 1;
			}

			&::before {
				position: absolute;
				top: -10px;
				left: calc(50% - 8px);
				display: block;
				width: 0;
				height: 0;
				border-color: transparent transparent var(--color-nm-dark);
				border-style: solid;
				border-width: 0 8px 10px;
				content: "";
			}
		}
	}

	&__subitem {
		list-style: none;

		> a {
			display: block;
			padding: 0.5em 1em;
			color: inherit;
			font-weight: normal;
			line-height: 1.4;
			transition: background $base_transition_duration ease-in-out;

			@include mq(lg-min) {

				&:hover {
					text-decoration: none;
					background: var(--color-nm-light);
				}
			}
		}

		> .gnav__submenu {
			padding-left: 1em;
		}
	}
}

/*------------------------------------------
## Fixed mobile bar
------------------------------------------*/

.fixed-nav {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;
	height: 60px;
	background: rgba(0, 0, 0, 0.8);

	@include mq(lg-min) {
		display: none;
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0 10px;

		a,
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			max-width: 100px;
			height: 45px;
			color: #fff;
			font-size: 20px;
			border-radius: 50%;
		}

		button[aria-expanded="true"],
		a:active,
		button:active {
			box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #666;
		}
	}
}

/*------------------------------------------
## Drawer navigation
------------------------------------------*/

.drawer {
	position: fixed;
	top: 0;
	right: 100%;
	z-index: 100;
	width: 100%;
	height: calc(100vh - 60px);
	padding: 70px 0 30px;
	background: rgba(0, 0, 0, 0.8);
	transition: right $base_transition_duration ease-in-out;

	@include mq(lg-min) {
		display: none;
	}

	&[aria-hidden="false"] {
		right: 0;
	}

	&__close {
		position: absolute;
		top: 7px;
		right: calc(5vw - 9px);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		margin: 0 0 0 auto;
		padding: 0;
		color: #fff;
		font-size: 20px;
		border-radius: 50%;

		&:active {
			box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #666;
		}
	}

	&__inner {
		height: 100%;
		overflow-y: scroll;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		> .menu-item-has-children {
			padding-right: 40px;
		}
	}

	&__item {
		position: relative;
		list-style: none;

		a {
			display: block;
			padding: 7px 0;
			color: #fff;
			text-decoration: none;
		}
	}

	&__submenu {
		padding-left: 1em;
		list-style: none;

		&[aria-hidden] {
			height: 0;
			overflow: hidden;
		}

		&[aria-hidden="false"] {
			height: auto;
			overflow: visible;
		}
	}

	&__toggle {
		position: absolute;
		top: 5.5px;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		color: #fff;
		border-radius: 50%;
		box-shadow: 1px 1px 2px #000, -1px -1px 2px #666;
		transition: box-shadow $base_transition_duration ease-in-out;

		> svg {
			transition: transform $base_transition_duration ease-in-out;
		}

		&[aria-expanded="true"] {
			box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #666;

			> i {
				transform: scale(1, -1);
			}
		}
	}

	.c-search-form {
		margin-top: 2em;

		&__input {
			top: 0;
			background: #fff;
		}
	}
}
