/**
 * Post Categories, Post Tags
 */

.wp-block-post-terms {
	margin-bottom: 2em;

	&.is-style-nm,
	&.is-style-nm-reverse {
		padding: 1.5em;
		border-radius: $base_border_radius;
	}

	&.is-style-nm {

		@include nm;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
	}
}
