/**
 * Post Featured Image
 */

.wp-block-post-featured-image {

	a {

		@include nm-media-link;
		max-width: 100%;
	}

	img {

		@include nm-media;
	}

	&.alignfull a {
		display: block;
	}

	&.alignleft,
	&.alignright {
		max-width: 500px;
	}

	&.is-style-nm-none {

		a,
		img {
			padding: 0;
			border-radius: 0;
			box-shadow: none;
		}

		a {

			&::before {
				content: none;
			}

			@include mq(lg-min) {
				transition: opacity $base_transition_duration ease-in-out;

				&:hover {
					opacity: $base_hover_opacity;
				}
			}
		}
	}
}
