/**
 * Post Title
 */

.wp-block-post-title {

	&.is-style-nm-none {
		text-shadow: none;

		&:not(.has-background) {
			padding-bottom: 0;
		}

		&::before {
			content: none;
		}
	}

	a {
		color: inherit;
	}
}
