/*------------------------------------------
# Block Common Styles
------------------------------------------*/

.entry-content {

	> * {
		max-width: 100%;
		margin: 0 0 2em;
	}

	> :last-child {
		margin-bottom: 0 !important;
	}

	// Text Alignment
	.has-text-align-left {
		text-align: left;
	}

	.has-text-align-right {
		text-align: right;
	}

	.has-text-align-center {
		text-align: center;
	}

	// Alignment
	.alignleft {
		float: left;
		margin-right: 1.5em;
		margin-bottom: 0.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.alignright {
		float: right;
		margin-bottom: 0.5em;
		margin-left: 1.5em;

		@include mq(md-max) {
			float: none;
			margin-right: auto;
			margin-bottom: 2em;
			margin-left: auto;
		}
	}

	.aligncenter {
		display: block;
		margin: 0 auto 2em;
		text-align: center;
	}

	// Link
	a {
		text-decoration: underline;

		@include mq(lg-min) {

			&:hover {
				text-decoration: none;
			}
		}
	}

	/* Heading */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		@include nm-text-border;
		margin-top: 1.5em;
		margin-bottom: 1em;
		line-height: 1.4;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1em;
	}

	h1,
	h2,
	h3 {

		@include nm-border;
		padding-bottom: 0.3em;

		&.has-background {
			padding: 0.3em 0.6em;

			&::before {
				bottom: -6px;
			}
		}

		&.is-style-nm-none {
			text-shadow: none;

			&::before {
				content: none;
			}
		}
	}

	h4,
	h5,
	h6 {

		&.has-background {
			padding: 0.3em 0.6em;
		}

		&.is-style-nm-none {
			text-shadow: none;
		}
	}

	/* Paragraph */
	p {
		margin: 0 0 2em;

		&.has-drop-cap::first-letter {
			float: left;
			margin: 0 0.1em 0 0;
			padding: 0;
			font-size: 4em;
			line-height: 1;
		}

		&.has-background {
			padding: 1.5em 1em;
		}
	}

	/* List */
	ul,
	ol {
		margin-left: auto;
		padding-left: 1.5em;

		&.has-background {
			padding: 1.5em 1.5em 1.5em 2.5em;
		}

		li {
			margin: 0.5em 0;
		}

		ul {
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding-left: 1em;

				&::before {
					position: absolute;
					left: 0.2em;
					content: "-";
				}
			}
		}
	}

	// Code
	code {
		margin: 0 0.3em;
		padding: 0.1em 0.3em;
		color: var(--color-text-main);
		font-size: 0.9em;
		font-family: $base_code_font_family;
		background: var(--color-nm-dark);
		border-radius: 4px;
	}

	// Inline quotes
	q {

		@include nm-reverse;
		position: relative;
		padding: 0.3em 0.5em;
		color: var(--color-text-main);
		border: none;
		border-radius: $base_border_radius / 2;
	}

	// Linked Image
	.wp-caption > a {

		@include nm-media-link;
	}

	// Figcaption
	figcaption,
	.wp-caption-text {
		margin-top: 0.5em;
		margin-bottom: 0;
		padding: 0;
		color: inherit;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	// Definition Lists
	dl {

		dt {
			font-weight: bold;
		}

		dd {
			margin: 0;

			&:not(:last-of-type) {
				margin-bottom: 1em;
			}
		}
	}

	// Horizontal Rule
	hr:not([class]) {

		@include nm-border;
		padding: 10px 0;
		border: none;

		&::before {
			top: 50%;
			bottom: auto;
			margin-top: -2px;
		}
	}

	// Preformatted text
	pre {
		font-family: inherit;
	}

	// Password Protected Form
	.post-password-form {

		[type="submit"] {
			margin-top: 2em;
		}
	}
}

// Align wide/full
@include mq(lg-min) {

	.contents--sidebar-none {

		.alignwide {
			position: relative;
			right: -47.5vw;
			width: auto;
			max-width: $container_width;
			margin-right: calc(50% - 47.5vw);
			margin-left: calc(50% - 47.5vw);
			transform: translateX(-50%);
		}

		.alignfull {
			position: relative;
			right: 50%;
			left: 50%;
			width: 100vw;
			max-width: 100vw;
			margin-right: -50vw;
			margin-left: -50vw;
		}
	}
}

@include mq(md-max) {

	.alignwide {
		position: relative;
		right: -47.5vw;
		width: auto;
		max-width: $container_width;
		margin-right: calc(50% - 47.5vw);
		margin-left: calc(50% - 47.5vw);
		transform: translateX(-50%);
	}

	.alignfull {
		position: relative;
		right: 50%;
		left: 50%;
		width: 100vw;
		max-width: 100vw;
		margin-right: -50vw;
		margin-left: -50vw;
	}
}
