/**
 * Block Common Styles
 */

body {
	color: var(--color-text-main);
	font-size: $base_font_size_pc;
	font-family: $base_font_falily;
	line-height: $base_line_height;
	letter-spacing: $base_letter_spacing;
	word-break: break-word;
	background: var(--color-bg);

}

// Title
.wp-block.editor-post-title__block {

	@include nm-border;
	margin-bottom: 4em;

	&::after {
		bottom: 12px;
		left: 14px;
		width: calc(100% - 28px);
		height: 3px;
	}

	.editor-post-title__input {

		@include nm-text-border;
		color: var(--color-text-main);
		font-weight: bold;
		font-size: 2.2em;
		font-family: $base_font_falily;
		line-height: 1.4;
		letter-spacing: $base_letter_spacing;

		&:focus {
			color: inherit;
		}
	}
}

// New Post Placeholder
.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	opacity: $base_placeholder_opacity;
}

// Block
.wp-block {
	max-width: 800px;
	margin-top: 0;
	margin-bottom: 2em;

	@media (max-width: 599px) {
		max-width: calc(100% - 28px);
	}
}

// Link
a {
	color: var(--color-text-link);
}

// Inline Quotes
q {

	@include nm-reverse;
	position: relative;
	padding: 0.3em 0.5em;
	color: var(--color-text-main);
	border: none;
	border-radius: math.div($base_border_radius, 2);
}

// Definition Lists
dl {

	dt {
		font-weight: bold;
	}

	dd {
		margin: 0;

		&:not(:last-of-type) {
			margin-bottom: 1em;
		}
	}
}

// Preformatted Text
pre {
	font-family: inherit;
}

// Figcaption
figcaption {
	margin-top: 0.5em;
	margin-bottom: 0;
	color: var(--color-text-main);
	font-size: 0.8em;
	text-align: inherit;
	opacity: $text_color_thin;
}

// Background
.has-background {
	padding: 1em;
}

// Text Color
.has-bg-color {
	color: var(--color-bg) !important;
}

.has-dark-color {
	color: var(--color-nm-dark) !important;
}

.has-light-color {
	color: var(--color-nm-light) !important;
}

.has-main-text-color {
	color: var(--color-text-main) !important;
}

.has-accent-color {
	color: var(--color-accent) !important;
}

.has-link-text-color {
	color: var(--color-text-link) !important;
}

// Alignment
[data-align="left"] > * {
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

[data-align="right"] > * {
	margin-bottom: 1.5em;
	margin-left: 1.5em;
}

[data-align="center"] {
	text-align: center;

	> * > figcaption {
		text-align: center;
	}
}

// Align Wide/Full
[data-align="wide"] {
	max-width: 1000px;

	> * {
		max-width: 100%;

		> figcaption {
			text-align: center;
		}
	}
}

[data-align="full"] {
	max-width: none;

	> * {
		max-width: 100%;

		> figcaption {
			text-align: center;
		}
	}
}
