/**
 * Common
 */

.widget {

	&.widget_block > .customize-partial-edit-shortcut + * {
		margin-top: 0;
	}

	&:not(.widget_block) {

		@include nm;
		padding: 1em;
		border-radius: $base_border_radius;
	}

	+ .widget {
		margin-top: 2em;
	}

	&__title,
	.widgettitle {

		@include nm-border;
		@include nm-text-border;
		padding-bottom: 0.5em;
		margin: 0 0 1em;
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.4;
		color: var(--color-accent);
		text-align: center;
	}

	> .wp-block-group {
		margin-bottom: 0;
	}
}
