/**
 * Image
 */

.widget_media_image {
	text-align: center;

	img {

		@include nm-media;
		width: 100%;
	}

	a {

		@include nm-media-link;
	}

	figure {
		margin: 0 auto;
	}

	figcaption {
		text-align: center;
	}
}
