/*--------------------------------------------------------------
# Image
--------------------------------------------------------------*/

.widget_media_image {
	text-align: center;

	img {

		@include nm-media;
		width: 100%;
	}

	a {

		@include nm-media-link;
	}

	figure {
		margin: 0 auto;
	}

	figcaption {
		margin-top: 0.5em;
		margin-bottom: 0;
		color: inherit;
		font-size: 0.8em;
		text-align: center;
		opacity: $text_color_thin;
	}
}
