/**
 * Image
 */

.wp-block-image {

	> img {

		@include nm-media;
	}

	> a {

		@include nm-media-link;
	}

	figure {
		display: inline-block;
		vertical-align: top;

		> a {

			@include nm-media-link;
		}

		> img {

			@include nm-media;
		}
	}

	&.is-style-rounded,
	&.is-style-circle-mask {

		a {
			border-radius: 50%;

			&::before {
				border-radius: 50%;
			}
		}

		img {
			border-radius: 50%;
		}
	}

	&.is-style-nm-none {

		a,
		img {
			padding: 0;
			border-radius: 0;
			box-shadow: none;
		}

		a {

			&::before {
				content: none;
			}

			@include mq(lg-min) {
				transition: opacity $base_transition_duration ease-in-out;

				&:hover {
					opacity: $base_hover_opacity;
				}
			}
		}
	}

	&.alignwide,
	&.alignfull {

		> a {
			display: block;
		}
	}

	.aligncenter {
		display: block;
	}

	.aligncenter,
	.alignleft,
	.alignright {

		> figcaption {
			display: block;
		}
	}
}
