/**
 * Image
 */

.wp-block-image {
	margin-bottom: 2em;

	> img {

		@include nm-media;
	}

	> a {

		@include nm-media-link;
		display: inline-block;
		vertical-align: top;
	}

	figure {
		display: inline-block;
		vertical-align: top;

		> a {

			@include nm-media-link;
			display: inline-block;
			vertical-align: top;
		}

		> img {

			@include nm-media;
		}
	}

	figcaption {
		margin-bottom: 0;
		font-size: 0.8em;
		opacity: $text_color_thin;
	}

	&.is-style-rounded,
	&.is-style-circle-mask {

		a {
			border-radius: 50%;

			&::before {
				border-radius: 50%;
			}
		}

		img {
			border-radius: 50%;
		}
	}

	&.is-style-nm-none {

		a,
		img {
			padding: 0 !important;
			border-radius: 0;
			box-shadow: none;
		}

		a {

			&::before {
				content: none;
			}

			@include mq(lg-min) {

				&:hover {
					opacity: $base_hover_opacity;
				}
			}
		}
	}

	.aligncenter,
	.alignleft,
	.alignright {

		> figcaption {
			display: block;
		}
	}

	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}

	&.alignwide,
	&.alignfull {

		> a {
			display: block;
		}

		> figcaption {
			text-align: center;
		}
	}
}
