/*----------------------
# Image
----------------------*/

.wp-block-image {
	margin-bottom: 2em;


	> figure > a,
	> a {

		@include nm-media-link;
	}

	.aligncenter,
	.alignleft,
	.alignright,
	.is-resized {

		> figcaption {
			display: block;
			text-align: center;

			@include mq(md-max) {
				text-align: center;
			}
		}
	}

	&.is-style-rounded {

		a::before {
			border-radius: 50%;
		}

		img {
			border-radius: 50%;
		}
	}

	&.is-style-nm-none img {
		border-radius: 0;
		box-shadow: none;
	}
}
