/**
 * Image
 */

.wp-block-image {

	.components-resizable-box__container {
		vertical-align: top;
	}

	&.is-resized {
		display: block;
	}

	img {
		vertical-align: top;
	}

	&:not(.is-style-nm-none) img {

		@include nm-media;
	}

	&.is-style-rounded,
	&.is-style-circle-mask {

		img {
			border-radius: 50%;
		}
	}
}

.wp-block[data-align="center"],
.wp-block[data-align="left"],
.wp-block[data-align="right"] {

	> .wp-block-image > figcaption {
		display: block;
	}
}

.wp-block[data-align="left"] > .wp-block-image {
	margin: 0 1.5em 1.5em 0;
}

.wp-block[data-align="right"] > .wp-block-image {
	margin: 0 0 1.5em 1.5em;
}
