/**
 * Legacy Widget
 */

.wp-block-legacy-widget {

	@include nm;
	padding: 1.5em 1em;
	border-radius: $base_border_radius;

	.wp-block-legacy-widget__edit-form {
		background: var(--color-nm-light);
		border-color: var(--color-nm-dark);

		.wp-block-legacy-widget__edit-form-title {
			padding: 0;
			color: inherit;
			font-size: inherit;
			font-family: inherit;

			&::before {
				content: none;
			}
		}

		.widget-inside {
			background: transparent;
		}

		.widget-inside.widget-inside {

			a,
			input,
			label {
				color: inherit;
				font-family: inherit;
			}

			input {
				background: #fff;
			}
		}
	}
}
