/**
 * Legacy Widget
 */

.wp-block-legacy-widget {
	font-size: 16px;

	@include nm;
	border-radius: $base_border_radius;

	&__edit-preview-iframe {
		display: block;
	}

	&__edit-form {
		background: var(--color-nm-light);
		border-color: var(--color-nm-dark);

		.wp-block-legacy-widget__edit-form-title {
			padding: 0;
			font-family: inherit;
			font-size: inherit;
			color: inherit;

			&::before {
				content: none;
			}
		}

		.widget-inside {
			background: transparent;
		}

		.widget-inside.widget-inside {
			font-family: inherit;

			a,
			input,
			label {
				font-family: inherit;
				color: inherit;
			}

			input,
			select {
				background: #fff;
			}
		}
	}
}
